<div class="col-sm-12" ng-init="userinfo()">
	<div class="row header_bats">
		<div class="col-sm-10">
			<div class="row">
				<div class="col-sm-12">
					<label class="custom_label manageUserH">Manage Travel Desk User</label>
				</div>
			</div>
			<!-- <h5 class="headerTitle">Manage Travel Desk User</h5> -->
		</div>
		<div class="col-sm-2 borderLeft">
			<div ng-include src="'/admin/subMenu'"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<!-- <div class="modal-body"> -->
			<div id="createTDModal">
				<form id="TravelDesk" name="travelDeskForm" class="form formInput">
					<!-- <div id="createclose" class="col-sm-2 col-sm-offset-10"
								align="right">
								<span class="closeIcon" data-direction="left"
									data-dismiss="modal" aria-hidden="true" ng-click="reset()">&times;</span>
							</div> -->

					<!-- <h1 class="titleHead">Create Travel Desk User</h1> -->
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group"
										ng-class="{ 'has-error' : travelDeskForm.Tdname.$invalid && !travelDeskForm.Tdname.$pristine }">
										<label class="labelClass">Name</label>
										<!-- <label ng-show="travelDesk.Tdname"
													class="floatlabeltxt show-hide">Enter the Name</label> -->
										<input type="text" class="form-control TDinput" name="Tdname"
											ng-model="travelDesk.Tdname"
											placeholder="Enter Travel Desk User name" ng-maxlength="25"
											required />
										<p
											ng-show="travelDeskForm.Tdname.$touched && travelDeskForm.Tdname.$invalid"
											class="help-block error-help">Name is required.</p>
										<p
											ng-show="travelDeskForm.Tdname.$error.maxlength && !travelDeskForm.Tdname.$pristine"
											class="help-block">Max length 25</p>

									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group"
										ng-class="{'has-error':travelDeskForm.useremail.$invalid && !travelDeskForm.useremail.$pristine}">
										<!-- <label ng-show="travelDesk.Email"
													class="floatlabeltxt show-hide">Enter Email Id</label> -->
										<label class="labelClass">Email</label> 
										<input type="email"
											ng-model="travelDesk.Email"
											ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
											name="useremail" class="form-control TDinput"
											placeholder="Enter Email Id" required />
										<p
											ng-show="travelDeskForm.useremail.$touched  && travelDeskForm.useremail.$invalid"
											class="help-block error-help">Email is required</p>
										<p
											ng-show="travelDeskForm.useremail.$error.pattern && !travelDeskForm.usermail.$pristine"
											class="help-block error-help">Enter a valid email.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group"
										ng-class="{'has-error': travelDeskForm.Tdcontact.$invalid && !travelDeskForm.Tdcontact.$pristine}">
										<!-- <label ng-show="travelDesk.tdcontact"
													class="floatlabeltxt show-hide">Enter the Contact
													Number</label> -->
										<label class="labelClass">Phone Number</label> <input
											type="text" class="form-control TDinput"
											ng-model="travelDesk.tdcontact" name="Tdcontact"
											ng-minlength="10" ng-maxlength="10" numbers-only
											placeholder="Enter Phone Number" required />
										<p
											ng-show="travelDeskForm.Tdcontact.$touched  && travelDeskForm.Tdcontact.$invalid"
											class="help-block error-help">Contact is required</p>
										<p
											ng-show="travelDeskForm.Tdcontact.$error.minlength && !travelDeskForm.Tdcontact.$pristine"
											class="help-block">Min digits 10</p>
										<p
											ng-show="travelDeskForm.Tdcontact.$error.maxlength && !travelDeskForm.Tdcontact.$pristine"
											class="help-block">Max digits 10</p>
									</div>

								</div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="form-group"
										ng-class="{ 'has-error' : travelDeskForm.desc.$invalid && !travelDeskForm.desc.$pristine }">
										<!-- <label ng-show="travelDesk.desc"
													class="floatlabeltxt show-hide">Description</label> -->
										<label class="labelClass">Description</label>
										<textarea ng-model="travelDesk.desc" name="desc"
											class="form-control TDinput" placeholder="Description" required></textarea>
										<p
											ng-show="travelDeskForm.desc.$touched && travelDeskForm.desc.$invalid"
											class="help-block error-help">Description is required.</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="form-group"
										ng-class="{'has-error':travelDeskForm.Tdpassword.$invalid && !travelDeskForm.Tdpassword.$pristine}">
										<!-- <label ng-show="travelDesk.tdpassword"
													class="floatlabeltxt show-hide">Enter Password</label> -->
										<label class="labelClass">Password</label> <input
											name="Tdpassword" type="password" class="form-control TDinput"
											ng-model="travelDesk.tdpassword"
											ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/"
											placeholder="Set Password" required />
										<p
											ng-show="travelDeskForm.Tdpassword.$touched && travelDeskForm.Tdpassword.$invalid"
											class="help-block error-help">Password is required</p>
										<div ng-show="travelDeskForm.Tdpassword.$error.pattern"
											class="help-block error-help">
											Password help
											<ul class="helplist">
												<li>At least <strong>one letter,</strong></li>
												<li>At least <strong>one number,</strong></li>
												<li>At least <strong>8 characters long.</strong></li>
											</ul>
										</div>
									</div>

								</div>

							</div>

						</div>
					</div>

					<div class="row">
						<div class="col-sm-12" align="right">
							<button id="createid" class="btn btn-primary updatebtn"
								ng-click="submitTDform()">Create</button>

						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div id="updateTDModal">
			<form name="updateUserForm" class="form formInput">
				<!-- <div class="col-sm-2 col-sm-offset-10" align="right">
								<span class="closeIcon" data-direction="left"
									data-dismiss="modal" aria-hidden="true"
									ng-click="resetUpdate()">&times;</span>
							</div>
							<h1 class="titleHead">Update Travel Desk User</h1> -->
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group"
									ng-class="{ 'has-error' : updateUserForm.uname.$invalid && !updateUserForm.uname.$pristine }">
									<!-- <label ng-show="travelDesk.Tdname"
													class="floatlabeltxt show-hide">Enter User Name</label> -->
									<label class="labelClass">Name</label> <input type="text"
										ng-model="travelDesk.Tdname" name="uname" class="form-control TDinput"
										placeholder="Enter User Name"
										style="text-transform: lowercase" readonly required />
									<p
										ng-show="updateUserForm.uname.$invalid && !updateUserForm.uname.$pristine"
										class="help-block">Username is required.</p>
									<span class="help-block chk_frm_server" ng-show="error.uname">{{status}}</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group"
									ng-class="{ 'has-error' : updateUserForm.useremail.$invalid && !updateUserForm.useremail.$pristine }">
									<!-- <label ng-show="travelDesk.Email"
													class="floatlabeltxt show-hide">Enter Email Id</label> -->
									<label class="labelClass">Email</label> <input type="email"
										ng-model="travelDesk.Email"
										ng-keyup="verifyEmail(userUpdate.email)"
										ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
										name="useremail" class="form-control TDinput"
										placeholder="Enter Email Id" required />
									<p
										ng-show="updateUserForm.useremail.$invalid && !updateUserForm.useremail.$pristine"
										class="help-block">Enter a valid email.</p>
									<span class="help-block chk_frm_server"
										ng-show="error_mail.umail">{{statusMail}}</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group"
									ng-class="{ 'has-error' : updateUserForm.contact_no.$invalid && !updateUserForm.contact_no.$pristine }">
									<div class="row">
										<!-- <div class="col-sm-3 padding_rt0">
														<h4 class="plus_91">+91</h4>
													</div> -->
										<div class="col-sm-12">
											<!-- <label ng-show="travelDesk.tdcontact"
															class="floatlabeltxt show-hide">Enter Mobile
															Number</label> -->
											<label class="labelClass">Phone Number</label> <input
												type="text" ng-model="travelDesk.tdcontact" numbers-only
												name="contact_no" class="form-control TDinput" string-to-number
												placeholder="Enter Mobile Number" ng-minlength="10"
												ng-maxlength="10" required />
										</div>
									</div>
									<p
										ng-show="updateUserForm.contact_no.$invalid && !updateUserForm.contact_no.$pristine"
										class="help-block">Enter Valid Mobile Number.</p>
									<p
										ng-show="updateUserForm.contact_no.$error.minlength && updateUserForm.contact_no.$error.maxlength"
										class="help-block">Mobile Number max 10 numbers.</p>
									<span class="help-block">{{mobstatus}}</span>
								</div>
							</div>
						</div>

						<br>
					</div>
				</div>
				<!-- <div class="row">
										<div class="col-sm-12">
											<div class="form-group" ng-show="password.update">
															<div class="controls">
																<input type="text" ng-model="user.password"
																	ng-disabled="isSaving" name="password"
																	class="form-control immediate-help"
																	placeholder="Enter Password" password-validate required />
																<div id="custPwdhelp" class="input-help">
																	<h4>Password must meet the following requirements:</h4>
																	<ul>
																		<li ng-class="pwdHasLetter">At least <strong>one
																				letter</strong></li>
																		<li ng-class="pwdHasNumber">At least <strong>one
																				number</strong></li>
																		<li ng-class="pwdValidLength">At least <strong>8
																				characters long</strong></li>
																	</ul>
																</div>
															</div>
														</div>
														</div>
											</div> -->
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group"
							ng-class="{ 'has-error' : updateUserForm.desc.$invalid && !updateUserForm.desc.$pristine }">
							<!-- <label ng-show="travelDesk.desc"
													class="floatlabeltxt show-hide">Description</label> -->
							<label class="labelClass">Description</label>
							<textarea ng-model="travelDesk.desc" name="desc"
								placeholder="Description" class="form-control TDinput" required></textarea>
							<p
								ng-show="updateUserForm.desc.$invalid && !updateUserForm.desc.$pristine"
								class="help-block">Description is required.</p>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 TDinput" align="right" >
						<button class="btn btn-primary updatebtn"
							ng-disabled="updateUserForm.$invalid"
							ng-show="updateUserForm.$valid && !name.length"
							ng-click="submitEditUserForm1()">Update</button>

					</div>
				</div>

			</form>
		</div>
	</div>

	<!-- </div> -->


</div>