			<div class="row">
				<div class="col-xs-2">
						<div class="nav notify-row">
						<ul class="top-menu">
							<!-- travel desk bar start -->
			                  <li id="trvel_desk_bar">
			                  <a href="#" ng-click="userinfo()">  
			                  <i class="fa fa-user" style="color:#fcb322" aria-hidden="true"></i></a>
			                  </li>
		                    	<!-- trvel desk bar end -->
							<!-- notification start
		                   notification dropdown start -->
		                   <li id="header_notification_bar" class="dropdown">
		                       <a data-toggle="dropdown" class="dropdown-toggle" href="#" ng-click="hideNotifyCount()">
		                          <i class="fa fa-bell" style="color:#fcb322" aria-hidden="true"></i>
		                           <span class="badge bg-warning">{{notifyLength}}</span>
		                       </a>
		                       <ul class="dropdown-menu extended notification">
		                           <div class="notify-arrow notify-arrow-yellow"></div>
		                           <h5 ng-if="noNotification" class="no_notifications">No Notifications Available</h5> 
		                           <span ng-if="showNotification">
		                           <li>
		                               <p class="yellow">You have {{notifyLength}} new notifications</p>
		                           </li>
		                           <li ng-repeat="showNotify in notifyStatus">
		                               <a href="#" ng-click="showNotifyModal(showNotify)" data-toggle="modal" data-target="#showNotificationModal">
		                                   <span class="label label-danger custom-label-danger">{{showNotify.alarm_type_One}}</span>
		                                   There is an {{showNotify.alarm_type_Two}} for {{showNotify.vehicle_num}} on 
		                                   <mydate>{{showNotify.ts | date:'dd/MM/yyyy hh:mm a'}}</mydate>.
		                               </a>
		                           </li>
		                           <li ng-if="viewMoreNotify">
		                               <a href="/admin/alarm" style="text-align:center">
		                                   <span>View</span>
		                               </a>
		                           </li>
		                           </span>
		                       </ul>
		                   </li>
		                   <!-- notification dropdown end -->
					</ul>
					</div>
				</div>
					<div class="col-xs-10">
						<a href="" class="logout lead" ng-controller="logoutAdminUser"
												ng-click="logoutAdminSubmit()">Logout</a>
						<a href="" class="login" data-toggle="modal" data-target="#loginModal">Login</a>
			    	</div>
			    </div>
			 </div>
