<div class="col-sm-12">
	<div class="map_content" ng-controller='GeneralController'
		ng-init="initialize();activeFull='0'">
		<!-- Header For MAP -->
		<div class="row header_bats">
			<div class="col-sm-10">
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-12">
								<label class="custom_label">Search Vehicle</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3" id="clearTextGroup">
								<select id="selectGroup" class="form-control" name="groupList"
									ng-model="groupname" ng-change="fetchDevicelist(groupname)">
									<option ng-if="groupList.length" value="" selected disabled
										class="disable_select">-- Select Group - -</option>
									<option ng-if="!groupList.length" selected disabled>No
										Group Available</option>
									<option ng-repeat="option in groupList|orderBy:'gname'"
										value="{{ option.gid }}">{{option.gname}}</option>
								</select>
							</div>
							<div class="col-sm-3" id="clearTextDevice">
								<!-- <div ng-show="deviceloading"><img src="../../images/loading.gif" width="10px" height="10px"/></div> -->
								<select id="selectDevice" class="form-control" name="deviceList"
									ng-model="deviceId" ng-change="fetchDeviceDetail(gid,deviceId)">
									<option></option>
									<option ng-if="devlistObject.length" value="" selected disabled
										class="disable_select">-- Select Vehicle No/Device --</option>
									<option ng-if="!devlistObject.length" selected disabled>
										No Device Available</option>
									<option ng-repeat="option in devlistObject |orderBy:'devid'"
										value="{{ option.devid }}">{{option.vehicle_num.length>0?option.vehicle_num:option.devid}}</option>
								</select>
							</div>
							<div class="col-sm-2">
								<img alt="" src="../../images/fullscreen.png"
									ng-click="resizeMap();activeFull='1';"
									ng-show="activeFull!='1'" class="openFullScreen" width="50px"
									height="50px"> <img alt="" src="../../images/close.png"
									ng-click="shrinkMap();activeFull='0'" ng-show="activeFull!='0'"
									class="closeFullScreen">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2 borderLeft">
			<div ng-include src="'/general/subMenu'"></div>
		</div>
		</div>
		<!-- Header For MAP -->
		<div class="bgloading" ng-show="httpLoading">
			<div class="bigbar">
				<h1 class="titleClass">loading!...</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<!-- table-speedOmeter-legend part-->
				<section class="speedometerSection" ng-style="{'width':(singleDevice == true) ? '230px' :'270px'}"
					ng-show="multiDevice || singleDevice">
					<div class="table-responsive" ng-show="multiDevice">
						<div class="col-sm-12"><label>Available Devices</label></div>
						<div class="col-sm-12 Availhist-container">
							<ul class="multiplDeviceTable">
								<li ng-repeat="device in devData">
									<ul class="deviceRowList">
										<li><span class="barStyle" ng-style='{{getColor(device.type)}}'></span></li>
										<li>{{$index+1}}</li>
										<li><span class="helpText">Vehicle No</span><p class="actualText">{{device.vehicle_num.length>0?device.vehicle_num:device.devid}}</p></li>
										<li><span class="helpText">Speed</span><p class="actualText">{{device.speed}}Kmph</p></li>
										<li><img src="{{img_url}}" class="statusImg"></li>
									</ul>
								</li>
							</ul>	
						</div>
						<!-- <table class="table mapTable">
							<thead>
								<tr>
									<td>Slno</td>
									<td>Vehicle No</td>
									<td>Speed<b>(kmph)</b></td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="(devId,devSpeed) in devData">
									<td>{{$index+1}}</td>
									<td>{{devId}}</td>
									<td>{{devSpeed}}</td>
								</tr>
							</tbody>
						</table> -->
					</div>
					<div class="row margin0" ng-show="singleDevice">
						<div class="col-sm-12 borderTB" align="left">
							<div class="row">
								<div class="col-sm-3 borderRight kmBackColor" align="center">
									<div class="pad10">
										<p class="mainText">{{speedSpeedOmeter}}</p>
										<span class="helpText">kmph</span>
									</div>
								</div>
								<div class="col-sm-9 pad0" align="center">
									<div class="pad10">
										<div class="">
										<div><span class="barStyleSingle" ng-style="{{getColorBack(divcolor)}}"><img src="{{singleImg_url}}" class="statusImg"></span></div>
										<p class="barTxt">{{barTxt}}</p>
										<!-- ng-style="{{getColor(divcolor)}} == 'geoColor' && {'background-color':'#008cdc'}  || {{getColor(divcolor)}} == 'aliveVehicleColor' && {'background-color':'#b3b3b3'}" -->
										<!-- <span class="helpText">Vehicle number</span> -->
									</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row borderTB" ng-click="guageHG();">
								<div class="col-sm-9" align="right">
									<p class="barTxt">Show Details</p>
									
								</div>
								<div class="col-sm-3"  align="left">
									<p class="barTxt">{{plusmin}}</p>
									
								</div>
						</div>
						<div class="col-sm-12" align="left" ng-show="singleDeviceData">
							<div class="row">
								<div class="col-sm-12">
									<label class="lastUpdate">Last Update
										{{dateTimeSpeedOmeter}}</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div>
										<!-- <div class="speed-meter" style="width: 50%; float: left"></div> -->
										<div id="container" class="gauge"></div>
									</div>
								</div>
							</div>
							<!-- <div class="row">
								<div class="col-sm-12 borderBtm" align="center">
									<div class="pad10">
										<p class="mainText">{{speedSpeedOmeter}}</p>
										<span class="helpText">kmph</span>
									</div>
								</div>
							</div> -->
							<div class="row borderTB">
								<div class="col-sm-6 borderRight" align="center">
									<div class="pad10">
										<p class="mainText">{{vehnoSpeedOmeter}}</p>
										<span class="helpText">Vehicle number</span>
									</div>
								</div>
								<div class="col-sm-6" align="center">
									<div class="pad10">
										<p class="mainText">{{speedlimitSpeedOmeter}}</p>
										<span class="helpText">Speed limit</span>
									</div>
								</div>
							</div>
							<!-- <div class="row bordertop">
								<div class="col-sm-12 pad0">
									
								</div>
								<div class="col-sm-6" align="center">
									<div class="pad10">
										<p class="mainText">{{speedlimitSpeedOmeter}}</p>
										<span class="helpText">Speed limit</span>
									</div>
								</div>
							</div> -->
						</div>
					</div>
				</section>
				<!-- ./table-speedOmeter-legend part -->
				<!-- Map part-->
				<section>
					<div class="row">
						<!-- style="margin: 0 -15px 0 -38px" -->
						<div class="col-sm-12 pad0">
							<div id="map_section" ng-class="{fullMap:activeFull==='1'}">
								<div id="map_canvas"></div>
								<a class="traffic_layer_btn" ng-click="showTrafficLayer()"
									ng-hide="showTrafficLayerBtn">Traffic Layer</a> <a
									class="traffic_layer_btn select_traffic"
									ng-click="hideTrafficLayer()" ng-hide="hideTrafficLayerBtn">Traffic
									Layer</a> <span class="reCenter" ng-hide="singleDeviceZoomed"
									ng-click="reCenterDevice()">RE - CENTER</span>
							</div>
						</div>
					</div>
				</section>
				<!-- ./Map part-->
			</div>
		</div>
		<!-- Vehicle Count -->
		<div class="row">
			<div class="col-sm-12">
				<div class="row count_label">
					<div class="col-sm-1 mleft">
						<div class="row countSection">
							<div class="col-sm-4 verhorcentericon pad0 iconBg">
								<div class="countImage">
									<img src="../images/mapIcon/carN.png">
								</div>
							</div>
							<div class="col-sm-8 verhorcentericon pad0">
								<div class="countText">
									<div>
										<label>{{carCount || '0'}}</label>
									</div>
									<div>
										<span>CAR</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-1 mleft">
						<div class="row countSection">
							<div class="col-sm-4 verhorcentericon pad0 iconBg">
								<img src="../images/mapIcon/busN.png">
							</div>
							<div class="col-sm-8 verhorcentericon pad0">
								<div class="countText">
									<div>
										<label>{{busCount || '0'}}</label>
									</div>
									<div>
										<span>BUS</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-1 mleft">
						<div class="row countSection">
							<div class="col-sm-4 verhorcentericon pad0 iconBg">
								<img src="../images/mapIcon/truckN.png">
							</div>
							<div class="col-sm-8 verhorcentericon pad0">
								<div class="countText">
									<div>
										<label>{{truckCount || '0'}}</label>
									</div>
									<div>
										<span>TRUCK</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-1 mleft">
						<div class="row countSection">
							<div class="col-sm-4 verhorcentericon pad0 iconBg">
								<img src="../images/mapIcon/bikeN.png">
							</div>
							<div class="col-sm-8 verhorcentericon pad0">
								<div class="countText">
									<div>
										<label>{{bikeCount || '0'}}</label>
									</div>
									<div>
										<span>BIKE</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ./Vehicle Count -->
		</div>
		<div class="row">
			<div class="col-sm-12">
				<!-- Legend Section -->
				<div class="legendSection">
					<ul class="legendlist">
						<li><span class="wrap_type normalVehicle"></span>Normal State</li>
						<li><span class="wrap_type geo"></span>Crossed Geofence</li>
						<li><span class="wrap_type speed"></span>Crossed Speed</li>
						<li><span class="wrap_type geospeed"></span>Crossed Geofence
							and Speed</li>
						<li><span class="wrap_type aliveVehicle"></span>No-Response
							State</li>
					</ul>
				</div>
				<!-- Legend Section -->
			</div>
		</div>
	
	
</div>
	</div>
	<!-- Smart Controller -->




