/* -------------------------------Geeta's work--------------------------------- */

.adminBody{
	background:#f5f5f5;/* eee */
}
.panel-default>.panel-heading {
    color: #333 !important;
    background-color: #e7e7e7 !important;
    border-color: #ddd !important;
     font-family: helvetica !important;
    font-size:20px !important;
}

.panel-default>.panel-footer {
    color: #333 !important;
    background-color: #fff !important;
     font-family: helvetica !important;
    border-color: #ddd !important;
}

.panel-default>.panel-body {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #ddd !important;
     font-family: helvetica !important;
    font-size:17px !important;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: #bfbaba;
     font-family: helvetica;
    }
    
.btn-sm {
    padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 0.5 !important;
    height:30px !important;
    border-radius: 10px !important;
    width: 15% !important;
    margin-left: 80% !important;
    font-family: helvetica !important;
    
    
}

label{
	font-family:helvetica !important;
	font-weight:100;
	font-size:17px;
}


.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background:#e7e7e7;
}

.edit_icon,.delete_icon {
/* 	border: 1px solid #03A9F4; */
	border-radius: 20px !important;
	padding: 3px 7px 3px 7px !important;
	margin: 0 0 0 15px !important; 
}

select {
	padding: 3px 3px 3px 3px !important;
	border: 0.5 !important;
	border-radius: 3px !important;
	cursor: pointer !important;
}

.search_heading {
	/* backgroundcolor: #eee; */
	 color: #333;
	padding: 0px 0px 5px 0px;
	border-radius: 0px 0px 0 0;
	font-family:helvetica;
	font-size:17px;
	
}

.search_customer {
	background: #e7e7e7;
	padding: 5px 6px 15px 15px;
	
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); }
	
}

.search_customer_results {
	background: rgba(255, 255, 255, 0.5);
	padding: 20px 15px 5px 15px;
	height: 310px;
	overflow: auto;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); }
	
}

.modal-title {
	color: #060606 !important;
	text-align:left !important;
	font-size:15px !important; 
	font-family:helvetica !important;
	}