<div class="container-fluid">
<div class="row header_bats">
	<div class="col-sm-10">
		<div class="row">
							<div class="col-sm-12">
								<label class="custom_label">Search Group</label>
							</div>
		</div>
		<!-- <h4 class="search_heading">Search Group</h4> -->
		<div class="row">
			<div class="col-sm-3" id="clearTextGroup">
				<!-- 	<div class="country">
					<select ng-model="selectedcountry" class="search_width"
						ng-options="group.country as group.country for group in glist | unique:'country'">
						<option value="">Select Country</option>
					</select>
				</div> -->
				<select id="selectGroup" class="form-control" name="groupList"
					ng-model="groupname" ng-change="fetchDevList(groupname)">
					<option ng-if="groupList.length" value="" selected disabled
						class="disable_select">Select Group</option>
					<option ng-if="!groupList.length" selected disabled>No
						Group Available</option>
					<option ng-repeat="option in groupList" value="{{ option.gid }}">{{option.gname}}</option>
				</select>
			</div>
			<div class="col-sm-3" id="clearTextDevice">
				<select id="selectDevice" class="form-control" name="devList"
					ng-model="deviceId" ng-change="deviceSelectedMaxKm()">
					<option></option>
					<option ng-if="devList.length" value="" selected disabled
						class="disable_select">Select Vehicle</option>
					<option ng-if="!devList.length" selected disabled>No
						Device Available</option>
					<option ng-repeat="option in devList" value="{{ option.devid }}">{{option.vehicle_num.length>0?option.vehicle_num:option.devid}}</option>
				</select>
			</div>
			<section ng-hide="deviceSelectMaxKm">
				<div class="col-sm-2">
					<div class='input-group date SpddateB' id='startDateMaxKmPicker'>
						<input type='text' class="form-control SpddateNB" id="startDateMaxKm"
							readonly="readonly" placeholder="Start Date" /> <span
							class="input-group-addon SpddateNB"> <span
							class="glyphicon glyphicon-calendar"> </span>
						</span>
					</div>
					<div class="showMinMaxErr" id="startDateMaxKmError">
						<i class="ion-information-circled"></i> This field is required!
					</div>
				</div>



				<div class="col-sm-2">
					<div class='input-group date SpddateB' id='endDateMaxKmPicker'>
						<input type='text' class="form-control SpddateNB" id="endDateMaxKm"
							readonly="readonly" placeholder="End Date" /> <span
							class="input-group-addon SpddateNB"> <span
							class="glyphicon glyphicon-calendar"> </span>
						</span>
					</div>


					<div class="showMinMaxErr" id="endDateMaxKmError">
						<i class="ion-information-circled"></i> This field is required!
					</div>
				</div>
				<div class="col-sm-2">
					<!-- <button type="button" class="btn btn-primary btn-sm"
					ng-click="showCreateBtn()" data-toggle="modal"
					data-target="#createGroupModal">Create Group</button> -->
					<button class="btn btn-primary btm-submit" ng-click="submitMaxKm()">Submit</button>
				</div>
			</section>
		</div>

	</div>
	<div class="col-sm-2 borderLeft">
			<div ng-include src="'/admin/subMenu'"></div>
		</div>
</div>

<div class="bgloading" ng-show="httpLoading">
	<div class="bigbar">
		<h1 class="titleClass">loading!...</h1>
	</div>
</div>


<!-- <h2 class="heading_title">Kilometers Traveled</h2>

	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-4" id="clearTextGroup">
					<select id="selectGroup" class="form-control" name="groupList"
						ng-model="groupname" ng-change="fetchDevList(groupname)">
						<option ng-if="groupList.length" value="" selected disabled
							class="disable_select">Select Group</option>
						<option ng-if="!groupList.length" selected disabled>No
							Group Available</option>
						<option ng-repeat="option in groupList" value="{{ option.gid }}">{{option.gname}}</option>
					</select>
				</div>
				<div class="col-sm-4" id="clearTextDevice">
					<select id="selectDevice" class="form-control" name="devList"
						ng-model="deviceId" ng-change="deviceSelectedMaxKm()">
						<option ng-if="devList.length" value="" selected disabled
							class="disable_select">-- Select Vehicle No/Device --</option>
						<option ng-if="!devList.length" selected disabled>No
							Device Available</option>
						<option ng-repeat="option in devList" value="{{ option.devid }}">{{option.vehicle_num.length>0?option.vehicle_num:option.devid}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<br> -->

<!-- <div class="row">
		<section ng-hide="deviceSelectMaxKm">
			<div class="col-sm-12">
				<h5 class="label_Style">Start Date and Time</h5>
				<div class="form-group">
					<div class='input-group date' id='startDateMaxKmPicker'>
						<input type='text' class="form-control" id="startDateMaxKm"
							readonly="readonly" /> <span class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"> </span>
						</span>
					</div>
				</div>

				<div class="showMinMaxErr" id="startDateMaxKmError">
					<i class="ion-information-circled"></i> This field is required!
				</div>

			</div>

			<div class="col-sm-12">
				<h5 class="label_Style">End Date and Time</h5>
				<div class="form-group">
					<div class='input-group date' id='endDateMaxKmPicker'>
						<input type='text' class="form-control" id="endDateMaxKm"
							readonly="readonly" /> <span class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"> </span>
						</span>
					</div>
				</div>

				<div class="showMinMaxErr" id="endDateMaxKmError">
					<i class="ion-information-circled"></i> This field is required!
				</div>
			</div>

			<div class="col-sm-6 col-sm-offset-3" align="center">
				<button class="btn btn-primary" ng-click="submitMaxKm()">Submit</button>
			</div>
		</section>

	</div>
 -->

<div class="row" id="highcharts_minmax">
	<div class="col-sm-12" align="center" style="margin-top:100px;">

		<div ng-if="showResultMaxKm" >
			<div ng-repeat="km in MaxKmResult" class="min_max_dev borderBox"  >
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-4">
						<!-- <h3 class="minmax_devid">Device Id: {{km.devid}}</h3> -->
						<img src="../images/0_0000s_0018_kilometers-travelled.png"
							alt="Mountain View" style="width: 104px; height: 128px;">
					</div>
					<div class="col-sm-6">
						<h2 class="minmax_devid kmStyle">
							{{km.distance}} <label>km</label>
						</h2>
						<label style="padding: 0px;">Travelled</label>

					</div>
				</div>
				<div class="row " style="border-top: 1px solid #e7e7e7;">
					<div class="col-sm-4 columStyle">
						<h4 class="minmax_devid ">{{km.vehicle_num}}</h4>
						<label class="subtextStyle">Vehical Number</label>

					</div>
					<!-- <div class="col-sm-1" style="border-left:1px solid #e7e7e7;height:45px;"></div> -->
					<div class="col-sm-4" style="border-right: 1px solid #e7e7e7;">
						<h4 class="minmax_devid ">{{speed}} KmpH</h4>
						<label class="subtextStyle">Speed limit</label>
					</div>
					<div class="col-sm-4">
						<h4 class="minmax_devid ">{{driver}}</h4>
						<label class="subtextStyle">Driver</label>
					</div>
				</div>
			</div>
		</div>

	</div>
</div> 

<div class="row" ng-if="blankTable">    
		<div class="col-sm-12 verhorcenter" align="center">
			<div class="centerData" style="margin-top:100px;">
				<ul class="nodata_list" >
					<li><img alt="" src="../images/select-dropdown.png" class="nodata_img"></li>
					<li><label style="color: #000;margin-left:35px">  Select Group!</label></li>
					<li><span>Shows kilometers covered  by the vehicle with vehicle no & speed</span></li>
				</ul>
			</div>  
		</div>
	</div>
</div>
 
<!-- <div class="row mtop10" id="highcharts_minmax">
	<div class="col-sm-12">
		<div class="row mtop10">
			<div class="col-sm-12">
				<div ng-if="showResultMaxKm">
					<div ng-repeat="km in MaxKmResult" class="min_max_dev">
						<h3 class="minmax_devid">Device Id: {{km.devid}}</h3>
						<h3 class="minmax_devid">Vehicle Number: {{km.vehicle_num}}</h3>
						<h3 class="minmax_devid">Max KM Covered: {{km.distance}} KM</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->











