.header{
	height: 70px;
    width: 100%;
    border-radius: 0;
    background: #000000;
    z-index: 100;
    position: fixed;
}

.logo{	
	height: 50px;
    width: 150px; 
    position: relative;
    top: 12px;
    /* right: 90px; */
}

.login{
	color: #fff;
    font-size: 20px;
    float: right;
    top: 24px;
    /* right: -50px; */
    border: none !important;
    position: relative;
}

body{
	background:#F6F6F6 !important;
}

.sidebar-nav{
position: fixed;
    left: 0;
    width: 18% !important;
    text-align: center;
    height: 100%;
    top: 70px;
}


.sidebar-nav .nav>li:last-child{
	padding-bottom:0px !impotant;
}

.sidebar-nav .nav>li{
border-bottom: 2px solid #F2F2F2;
}

.nav {
	    width: 100% !important;
}

.ulPadding{
	padding:0px !important;
}

.listElePadding {
	    padding: 0px !important;
    padding-top: 5% !important;
}

.sidebar-nav .nav>li>a ,.sidebar-nav .nav>li>a{
	color:#747474!important;
	padding:0px!important;
}

.sidebar-nav .navbar-default{background:#eee;border:#eee;margin:0;border-radius:0;height:100%;overflow:auto;/* padding-bottom: 100px; */box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);}
.sidebar-nav .nav>li>a:hover{color:#25A0CA !important;background:none}

.sidebar-nav .nav>li>a.active{
background:#F8F8F8!important;
color:#212121 !important;
}

.navbar-default .navbar-nav>.active>a {
background:#F8F8F8!important;
color:#212121 !important;
}

.navbar-default .navbar-nav>.active>a .colmenu1{
	width: 10px !important;
    height: 54px !important;
    background: #25A0CA !important;
}

.sidebar-nav .nav>li>a.active .colmenu1{
	width: 10px !important;
    height: 54px !important;
    background: #25A0CA !important;
} 

.colmenu1{
	width: 10px !important;
    height: 54px !important;
    background: #ffffff !important;
    /* color:#ffffff; */
}

/* .sidebar-nav .navbar-default{background:#eee;border:#eee;margin:0;border-radius:0;height:100%;overflow:auto;padding-bottom: 100px;box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);}
 */
.sidebar-nav .navbar-default{
 background:#ffffff !important;
     box-shadow: 1px 1px 0px #eeeeee !important;
     height:100% !important;
 }
 
.changePwdBorder{
	width:30% !important;
 	border: 1px solid #eee!important;
    margin-top: 12%!important;
    box-shadow: 1px 1px 1px 1px #B9B9B9!important;
    background:#fff !important;
}
 
.changePwdSubmit{
    float: right !important;
    padding: 0px !important;
    width: 35% !important;
    border-radius: 100px !important;
    font-size: 15px !important;
    border: 1px solid #03A9F4 !important;
    background: #03A9F4 !important;
}

.labelClass{
	font-family: helvetica !important;
    font-weight: 100;
    font-size: 13px !important;
    padding-bottom: 8px;
}

.changePwdUserIcon{
	width: 60px;
    height: 60px;
    border-radius: 82px;
    background: #fff;
    line-height: 2;
    font-size: 1.82em;
    border: 1px solid #ddd;
    color: #7F7F7F;
    }
.changePwdIconSection{
	margin-top:-30px !important;
}

.titleHead {
	margin-top: 13px;
    margin-bottom: 20px;
    text-align: center;
    color: #76C9EF;
}

.helplist {
	-webkit-padding-start: 0px;
	padding: 10px;
	margin-top:-18px !important;
}

input.ng-dirty.ng-invalid{
	border: 1px solid #ec3f41 !important;
    border-bottom: solid 2px #ec3f41 !important;
}

input.ng-dirty.ng-valid{
		border: 1px solid #3a7d34 !important;
	    border-bottom: solid 2px #3a7d34 !important;
}
