<div class="col-sm-10">
	<h2 class="heading_title historyTitle">Trip History</h2>
	<div class="bgloading" ng-show="httpLoading">
		<div class="bigbar">
			<h1 class="titleClass">loading!...</h1>
		</div>
	</div>
	<div class="row" ng-init="initMap()">
		<div class="col-sm-12">
			<!-- selction part -->
			<div class="row">
				<div class="col-sm-6 col-sm-offset-6 filterChoice">
					<div class="content">
						<!-- User Choice driver based or vehicle based history -->
						<div class="row mb10">
							<div class="col-sm-12" align="center">
								<h3>Choice / Filters for Trip History</h3>
							</div>
						</div>
						<div class="row mb10">
							<div class="col-sm-6" align="center">
								<input type="radio" name="basedOnDriver" ng-model="basedOn.Item"
									ng-value="0" ng-change="granChoice(basedOn)" />Driver Based
							</div>
							<div class="col-sm-6" align="center">
								<input type="radio" name="basedOnVehicle"
									ng-model="basedOn.Item" ng-value="1"
									ng-change="granChoice(basedOn)" /> Vehicle Based
							</div>
						</div>
						<!-- User Choice driver based or vehicle based history -->
						<!-- Driver Name Drop down -->
						<div class="row mb10" ng-show="driverBased">
							<div class="col-sm-12" id="selectDriverSection">
								<select  id="selectDriver" class="form-control" ng-model="trip.driver_id"
										ng-options="driver.name for driver in driverList track by driver.driver_id"
								>
									<!-- <option>Select Driver</option> -->
								</select>
							</div>
						</div>
						<!-- Vehicle  Drop down -->
						<div class="row mb10" ng-show="vehicleBased">
							<div class="col-sm-6" id="selectGroupSection">
								<select id="selectGroup" class="form-control" ng-model="trip.groupName"
									ng-options="group.gname for group in groupList track by group.gid"
									ng-change="fetchDevicelist(trip.groupName)"
									>
									
									<!-- <option>Select Driver</option> -->
								</select>
							</div>
							<div class="col-sm-6" id="selectVehicleSection">
								<select id="selectVehicle" class="form-control" ng-model="trip.vehicle_num"
								 ng-options="device.vehicle_num for device in devlistObject track by device.devid"
									>
									
									<!--<option>Select Driver</option> -->
								</select>
							</div>
						</div>
						<!-- Vehicle  Drop down -->
						<!-- Select Date -->
						<div class="row mb10">
							<div class="col-sm-12" align="center">
								<md-content> <md-datepicker
									ng-model="trip.timeStamp" md-placeholder="Enter date"
									ng-disabled="(trip.driver_id || trip.vehicle_num)? false:true"
									md-max-date="todayDate"></md-datepicker> </md-content>
									
							</div>
							<!-- <div class="col-sm-2"></div> -->
						</div>
						<!-- Select Date -->
						<!-- Fetch History -->
						<div class="row mb10">
							<div class="col-sm-12" align="center">
								<button class="btn btn-primary"
								ng-disabled="((trip.driver_id || trip.vehicle_num) && trip.timeStamp)? false:true" 
								ng-click="fetchHistory()">Fetch History</button>
								 
							</div>
						</div>
						<!-- Fetch History -->
					</div>
				</div>
			</div>
			<!-- Select Trip -->
						<div class="row mb10" ng-show="showTripDropDown">
							<div id="selectTripSection" class="col-sm-12">
								<select class="form-control" id="selectTrip" ng-model="tripName"
									ng-options="tripDet.trip_name for tripDet in tripDetails track by tripDet.trip_id"
									ng-change=showHistoryData(tripName)>
								</select>
							</div>
						</div>
			<!-- Select Trip -->
			<!-- Open Filter button -->			
			<div class="row mb10">
				<div class="col-sm-12" align="right">
					<a id="openFilter" ng-class=""
						class='button glyphicon glyphicon-plus' href='#'></a>
				</div>
			</div>
			<!-- ./Open Filter button -->
			<!-- selction part -->
			<!-- display history section -->
			<div class="row mb10">
				<div class="col-sm-12">
					<div id="history_map" style="width: 100%; height: 70vh;"></div>
				</div>
			</div>
			<div class="row mb10">
				<div class="col-sm-12" align="center">
					<a id="showHistoryData" 
						ng-class="{bounce:startBouncing}"
						ng-show="showUpBtn"
						ng-click="stopBouncing()"
						class='modalButton glyphicon glyphicon-chevron-up'
						data-direction='bottom' href='#'></a>
				</div>
			</div>
			<div id="historyModal" class="modal fade" role="dialog">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row mb10">
								<div class="col-sm-12">
									<div class="panel panel-default">
										<div class="panel-heading">
											<label>History Details</label>
										</div>
										<!-- panel body -->
										<div class="panel-body">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3" align="center">
													<img src="../images/loading_icon.gif"
														ng-show="imageUploading"
														class="loading_icon img-responsive img-circle img-thumbnail" />
												</div>
											</div>
											<div class="row" ng-hide="imageUploading">
												<div class="col-sm-2">
													<img
														src="{{tripData.image_src.length>0?tripData.image_src:'../images/driver.png'}}"
														class="img-responsive img-thumbnail fixWidthHeight"
														onerror="this.onerror=null;this.src='../images/404.png';"
														alt="alternative text">
												</div>
												<div class="col-sm-10">
													<div class="row mb10">
														<div class="col-sm-4">
															<label>Driver Name</label>
															<p class="mb10">{{tripData.driver_name}}</p>
														</div>
														<div class="col-sm-4">
															<label>Approx Start Time</label>
															<p class="mb10">{{getTimeFormat(tripData.apprx_start_time)}}</p>
														</div>
														<div class="col-sm-4">
															<label>Approx End Time</label>
															<p class="mb10">{{getTimeFormat(tripData.apprx_end_time)}}</p>
														</div>
													</div>
													<!-- about trip  -->
													<div class="row mb10">
														<div class="col-sm-4">
															<label>Driver Contact No</label>
															<p class="mb10">{{tripData.contact_no}}</p>
														</div>
														<div class="col-sm-4">
															<label>Destination</label>
															<p class="mb10">{{tripData.destination}}</p>
														</div>
														<div class="col-sm-4">
															<label>Trip Status</label>
															<p class="mb10">{{tripData.status}}</p>
														</div>
													</div>
													<!-- about trip  -->
												</div>
											</div>
											<div class="row mb10">
												<div class="col-sm-12">
													<div class="panel panel-default">
														<div class="panel-heading">
															<label>Customer Info</label>
														</div>
														<div class="panel-body">
															<ul class="tripCustomelist">
																<li ng-repeat="customer in tripData.customers">
																	<div class="row">
																		<div class="col-sm-6">
																			<label>Customer Name</label>
																			<p class="mb10">{{customer.name}}</p>
																		</div>
																		<div class="col-sm-6">
																			<label>Customer Contact</label>
																			<p class="mb10">{{customer.cn}}</p>
																		</div>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- ./panel body -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- display history section -->
		</div>
	</div>
</div>