<div class="container-fluid">
	<div class="row header_bats">
		<div class="col-sm-10">
			<h4 class="search_heading">Search Group</h4>
			<div class="row Dropdownpadding">
				<div class="col-sm-7">
					<input type="text" class="form-control" ng-model="searchDriver"
						ng-change="countChild()"
						placeholder="Search by name or phone number" />
				</div>

				<div class="col-sm-5">
					<button type="button" class="btn btn-primary btn-sm"
						data-toggle="modal" data-target="#driverCreateModal">Add
						Driver</button>
				</div>
			</div>

		</div>
		<div class="col-sm-2 borderLeft">
			<div ng-include src="'/admin/subMenu'"></div>
		</div>

	</div>


	<div class="bgloading" ng-show="httpLoading">
		<div class="bigbar">
			<h1 class="titleClass">loading!...</h1>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-12 pad0">

			<div class="table-container" ng-style="histcontentheight">
				<table class="tablestyle">
					<thead class="theadStyle tablethead">
						<tr ng-hide="(driverlist| driverFilter:searchDriver).length==0">
							<th></th>
							<th><div>Driver Name</div></th>
							<th><div>Phone Number</div></th>
							<th></th>
						</tr>
						<tr>
							<div class="row" ng-show="(driverlist| driverFilter:searchDriver).length==0">
								<div class="col-sm-12 verhorcenter" align="center">
									<div class="centerData">
										<ul class="nodata_list">
											<li><img alt="" src="../images/no-data.png" class="nodata_img"></li>
											<li><label style="color: #000">Nothing here!</label></li>
											<li><span>No Driver Available</span></li>
										</ul>
									</div>
								</div>
							</div>
						</tr>
					</thead>

					<tbody class="tbodyStyle">
						<tr class="tbodytr tabletbodytr"
							ng-repeat="driverdetail in driverlist | driverFilter:searchDriver">
							<td><p class="culomPad">
									<img
										src="{{driverdetail.image_src.length>0?driverdetail.image_src:'../images/driver.png'}}"
										class="img-responsive img-circle img-thumbnail iconImageSm" />
								</p></td>
							<td><p>{{driverdetail.name}}</p></td>
							<td><p>{{driverdetail.contact_no}}</p></td>
							<td><a href="#" class="edit_icon"
								ng-click="fetchdriverInfo(driverdetail.driver_id)"
								data-toggle="modal" data-target="#updateUserModal"><i
									class="fa fa-pencil"></i></a> <a href="#" class="delete_icon"
								ng-click="deleteDriver(driverdetail.driver_id)"> <i
									class="fa fa-trash"></i></a></td>
						</tr>
					</tbody>

				</table>
			</div>


		</div>
	</div>
	
	
	<div class="row" ng-show="!driverlist.length">
		<div class="col-sm-12 verhorcenter" align="center">
			<div class="centerData">
				<ul class="nodata_list">
					<li><img alt="" src="../images/no-data.png" class="nodata_img"></li>
					<li><label style="color: #000">Nothing here!</label></li>
					<li><span>No Driver Available</span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row" ng-init="listDrivers()">
		<div class="col-sm-12"></div>
	</div>
</div>

<!-- <p ng-show="(driverlist| driverFilter:searchDriver).length==0"
	class="help-block error-help">No drivers available for this search
	criteria !!!</p> -->



<!-- <p ng-show="!driverlist.length" class="help-warning">No driver
	created yet</p> -->






<!-- Create Driver Modal -->
<div id="driverCreateModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					ng-click="reset()">&times;</button>
				<h4 class="modal-title">Add Driver</h4>
			</div>

			<div class="modal-body my_modalBody">
				<form id="driverCreateform" name="driverform"
					class="form formInput">
					<!-- <div class="col-sm-2 col-sm-offset-10" align="right">
						<a class="close" ng-disabled="driverform.$invalid"
							ng-click="reset()" data-dismiss="modal">&times;</a>
					</div>
					<h1 class="titleHead">Create New Driver</h1> -->
					<div class="row">
						<div class="col-sm-12">
							<!-- Driver Info -->

							<label class="DriverFormHeading">Basic Information</label>
							<div class="row">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group requiredfield"
												ng-class="{ 'has-error' : driverform.driverName.$invalid && !driverform.driverName.$pristine }">
												<label>Driver Name</label>
												<!--  ng-show="driver.name" class="floatlabeltxt show-hide" -->
												<input type="text" class="form-control" name="driverName"
													ng-model="driver.name" " ng-maxlength="25" required />
												<p
													ng-show="driverform.driverName.$touched && driverform.driverName.$invalid"
													class="help-block error-help">Driver name is required.</p>
												<p
													ng-show="driverform.driverName.$error.maxlength && !driverform.driverName.$pristine"
													class="help-block">Max length 25</p>

											</div>

										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="form-group requiredfield"
												ng-class="{ 'has-error' : driverform.driverContact.$invalid && !driverform.driverContact.$pristine}">
												<label>Phone Contact</label>
												<!--ng-show="driver.contact"
													class="floatlabeltxt show-hide"  -->
												<input type="text" class="form-control"
													ng-model="driver.contact" name="driverContact"
													ng-blur="verifyContact('new',driver.contact)"
													ng-minlength="10" ng-maxlength="10" numbers-only
													required="required" />
												<p
													ng-show="driverform.driverContact.$touched && driverform.driverContact.$invalid"
													class="help-block error-help">Driver Contact is
													required.</p>
												<p
													ng-show="driverform.driverContact.$error.minlength && !driverform.driverContact.$pristine"
													class="help-block">Min digits 10</p>
												<p
													ng-show="driverform.driverContact.$error.maxlength && !driverform.driverContact.$pristine"
													class="help-block">Max digits 10</p>
												<p
													ng-show="driverform.driverContact.$error.contAvailable && !driverform.driverContact.$pristine"
													class="help-block">Contact already associated with
													other driver</p>
											</div>
										</div>
									</div>

									<div class="row">

										<div class="col-sm-12">
											<div class="form-group requiredfield"
												ng-class="{'has-error':driverform.driverPassword.$invalid && !driverform.driverPassword.$pristine}">
												<label>Password</label>
												<!--  ng-show="driver.password"
													class="floatlabeltxt show-hide"-->
												<input name="driverPassword" type="password"
													class="form-control" ng-model="driver.password"
													ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/"
													required />
												<p
													ng-show="driverform.driverPassword.$touched && driverform.driverPassword.$invalid"
													class="help-block error-help">Driver Password is
													required</p>
												<div ng-show="driverform.driverPassword.$error.pattern"
													class="help-block error-help">
													Password help
													<ul class="helplist">
														<li>At least <strong>one letter,</strong></li>
														<li>At least <strong>one number,</strong></li>
														<li>At least <strong>8 characters long.</strong></li>
														<li>No special characters allowed.</li>
													</ul>
												</div>
											</div>

										</div>
									</div>

								</div>
								<div class="col-sm-6">
									<div class="image-upload" style="float: right;">
										<div ng-hide="imagepath" class="hoverImage">
											<i class="fa fa-upload" aria-hidden="true"
												ng-click="triggerInput()"></i>
										</div>
										<div ng-show="imagepath" class="hoverImage">
											<i class="fa fa-refresh" aria-hidden="true"
												ng-click="triggerInput()"></i>
										</div>
										<img src="../../images/loading_icon.gif"
											ng-show="imageUploading"
											class="loading_icon img-responsive img-circle img-thumbnail" />
										<img ng-hide="imageUploading"
											ng-src="{{driver.image_src.length>0?driver.image_src:'../images/driver.png'}}"
											class="img-responsive img-circle img-thumbnail uploadImage" />
										<!-- <label for="file-input"> <img
													ng-src="{{imagepath.length>0?imagepath:'../images/driver.png'}}"
													class="img-responsive img-circle img-thumbnail uploadImage" />
												</label> -->
										<!-- <input id="file-input" type="file"/>  -->
										<input accept="image/*" type="file" name="file"
											id="imageInput"
											onchange="angular.element(this).scope().uploadFile(this.files)" />
										<p ng-show="onlyImage" class="help-block error-help">Only
											image files allowed !...</p>
										<p ng-show="onlyFiletype" class="help-block error-help">Only
											file type ('.jpg','.jpeg','.png')</p>
										<p class="help-block">Only file type
											('.jpg','.jpeg','.png') are allowed</p>
										<p class="help-block" ng-show="imageUploading">Image
											Uplaoding!....</p>
									</div>
								</div>
							</div>
							<label class="DriverFormHeading">Employement Details</label>
							<div class="row">
								<div class="col-sm-4">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverform.driverlicense.$invalid && !driverform.driverlicense.$pristine}">
										<label> License Number</label>
										<!--ng-show="driver.license"
											class="floatlabeltxt show-hide"  -->
										<input type="text" class="form-control" name="driverlicense"
											ng-model="driver.license" ng-minlength="15" ng-maxlength="15"
											ng-pattern="/^[a-zA-Z0-9]*$/"
											ng-blur="verifyDL('new',driver.license)" required />
										<p
											ng-show="driverform.driverlicense.$touched && driverform.driverlicense.$invalid"
											class="help-block error-help">Driver License is required</p>
										<p
											ng-show="driverform.driverlicense.$error.minlength && !driverform.driverlicense.$pristine"
											class="help-block">Min '15' Alpha Numeric required!...</p>
										<p
											ng-show="driverform.driverlicense.$error.maxlength && !driverform.driverlicense.$pristine"
											class="help-block">Max '15' Alpha Numeric required!...</p>
										<p ng-show="driverform.driverlicense.$error.dlavailable"
											class="help-block error-help">Driver License is already
											associated</p>
										<p ng-show="driverform.driverlicense.$error.pattern"
											class="help-block error-help">Only Alpha Numeric....</p>
									</div>
								</div>
								<div class="col-sm-4"
									ng-class="{'has-error':driverform.driverAadhaar.$invalid && !driverform.driverAadhaar.$pristine}">
									<label> Aadhaar Number</label>
									<!--  ng-show="driver.aadhar" class="floatlabeltxt show-hide" -->
									<input type="text" class="form-control" name="driverAadhaar"
										ng-minlength="12" ng-maxlength="12" numbers-only
										ng-model="driver.aadhar" ng-required="false" />
									<p
										ng-show="driverform.driverAadhaar.$error.minlength && !driverform.driverAadhaar.$pristine"
										class="help-block">Min 12 charcters</p>
									<p
										ng-if="driverform.driverAadhaar.$error.maxlength && !driverform.driverAadhaar.$pristine"
										class="help-block">Max 12 charcters</p>
								</div>
								<div class="col-sm-4">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverform.driverEmergency.$invalid && !driverform.driverEmergency.$pristine}">
										<label>Emergency Contact Number</label>
										<!-- ng-show="driver.emergency_cn"
											class="floatlabeltxt show-hide" -->
										<input type="text" class="form-control" name="driverEmergency"
											ng-model="driver.emergency_cn" ng-minlength="10"
											ng-maxlength="10" numbers-only required />
										<p
											ng-show="driverform.driverEmergency.$touched && driverform.driverEmergency.$invalid"
											class="help-block error-help">Emergency Contact is
											required</p>
										<p
											ng-show="driverform.driverEmergency.$error.minlength && !driverform.driverEmergency.$pristine"
											class="help-block">Min digits 10</p>
										<p
											ng-show="driverform.driverEmergency.$error.maxlength && !driverform.driverEmergency.$pristine"
											class="help-block">Max digits 10</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4"
									ng-class="{'has-error':driverform.driverSalary.$invalid && !driverform.driverSalary.$pristine}">
									<label> Salary in Rupees</label>
									<!-- ng-show="driver.salary" class="floatlabeltxt show-hide" -->
									<input type="text" class="form-control"
										ng-model="driver.salary" name="driverSalary" numbers-only
										ng-required="false" />
								</div>
								<div class="col-sm-6">
									<label class="requiredfield">Employment Type</label>
									<div class="row">
										<!-- Employment Type Choices -->
										<div class="col-sm-12">
											<div class="form-group">
											<div class="row">
											<div class="col-sm-6">
												<label class="radio-inline">
												<input id="perid" class="driverRadio"
													type="radio" ng-model='driver.etype' ng-value='"Permanent"'
													name="rdoResult">Permanent</label></div>
												<div class="col-sm-6">
													 <label
													class="radio-inline">
													<input type="radio" class="driverRadio"
													ng-model='driver.etype' ng-value='"Temporary"'
													name="rdoResult">Temporary</label>
												</div>   
											</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4"></div>
							</div>

							<label class="DriverFormHeading">Personal Information</label>
							<div class="row">
								<div class="col-sm-3" ng-class="{'has-error':minorAge}">
									<label>date of birth</label>
									<div class='input-group date' id='dobPicker'>
										<input type='text' class="form-control" id="dobOnCreate"
											ng-model="driver.dob" readonly="readonly" ng-required="false"
											ng-change="validateAge()" /> <span id="dobAddon"
											class="input-group-addon"> <span
											class="glyphicon glyphicon-calendar"> </span>
										</span>
									</div>
									<div ng-if="minorAge" class="help-block">Age of driver is
										minor</div>

								</div>

								<div class="col-sm-4">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverform.driverbloodgp.$invalid && !driverform.driverbloodgp.$pristine}">
										<label>Blood Group</label>
										<!--ng-show="driver.blood"
															class="floatlabeltxt show-hide"  -->
										<div class="row">
											<div class="col-sm-12">
												<select ng-model="driver.blood" name="driverbloodgp"
													class="select_widht_customer" required>
													<!-- <option selected disabled value="">Select Blood
														Group</option> -->
													<option>a+</option>
													<option>a-</option>
													<option>b+</option>
													<option>b-</option>
													<option>ab+</option>
													<option>ab-</option>
													<option>o+</option>
													<option>o-</option>
													<option>a1b+ve</option>
													<option>a1o+ve</option>
													<option>a1ab+ve</option>
													<option>b1a+ve</option>
													<option>b1ab+ve</option>
													<option>b1o+ve</option>
													<option>ab1a+ve</option>
													<option>ab1b+ve</option>
													<option>ab1o+ve</option>
													<option>o1a+ve</option>
													<option>o1b+ve</option>
													<option>o1ab+ve</option>
													<option>ab1a+ve</option>
													<option>ab1b+ve</option>
													<option>ab1o+ve</option>
													<option>a1b-ve</option>
													<option>a1o-ve</option>
													<option>a1ab-ve</option>
													<option>b1a-ve</option>
													<option>b1ab-ve</option>
													<option>b1o-ve</option>
													<option>ab1a-ve</option>
													<option>ab1b-ve</option>
													<option>ab1o-ve</option>
													<option>o1a-ve</option>
													<option>o1b-ve</option>
													<option>ab1a-ve</option>
													<option>ab1b-ve</option>
													<option>ab1o-ve</option>


													<!-- <option selected value="{{driver.country}}" ng-show>{{driver.country}}</option> -->
													<option ng-repeat="c in bloodGroups" value="{{c}}">{{c}}</option>
												</select>
											</div>
										</div>
										<p
											ng-show="driverform.driverbloodgp.$touched && driverform.driverbloodgp.$invalid"
											class="help-block error-help">BloodGroup is requried</p>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverform.driverEducation.$invalid && !driverform.driverEducation.$pristine}">
										<label>Highest Education</label>
										<!--ng-show="driver.education"
											class="floatlabeltxt show-hide"  -->
										<input type="text" class="form-control" name="driverEducation"
											ng-model="driver.education" ng-maxlength="10"
											ng-required="true" />
										<p
											ng-show="driverform.driverEducation.$error.maxlength && !driverform.driverEducation.$pristine"
											class="help-block">Max characters 10</p>
										<p
											ng-show="driverform.driverEducation.$touched && driverform.driverEducation.$invalid"
											class="help-block error-help">Education details is
											required</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-8">
									<label>Languages Known</label>
									<div class="row">
										<div class="col-sm-12">
											<!-- <select id="langSelect" ng-model="selectedLanguage"
															ng-change="formLanguageArray()"
															class="js-example-basic-multiple form-control" ng-required="false"
															 multiple="multiple"
															>	
															<option ng-repeat="option in lang">{{option}}</option>														
														</select> -->
											<select
												class="js-example-basic-multiple js-example-basic-multiple-limit js-states form-control"
												id="id_label_multiple" multiple="multiple">
												<option ng-repeat="option in lang">{{option}}</option>
											</select>
											<p ng-show="select2-selection-limit">only 5</p>
										</div>
									</div>
								</div>
								<div class="col-sm-4"></div>

							</div>
							<label class="DriverFormHeading">Present Address</label>
							<div class="row">
								<div class="col-sm-8">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverupdateform.driverStreet.$invalid && !driverupdateform.driverStreet.$pristine}">
										<label> Street Name</label>
										<!-- ng-show="driver.street" class="floatlabeltxt show-hide"  -->
										<input type="text" class="form-control" name="driverStreet"
											ng-maxlength="100" ng-model="driver.street" required />
										<p
											ng-show="driverform.driverStreet.$touched && driverform.driverStreet.$invalid"
											class="help-block error-help">Street details required</p>
										<p
											ng-show="driverform.driverStreet.$error.maxlength && !driverform.driverStreet.$pristine"
											class="help-block">Max characters 100</p>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverform.driverCountry.$invalid && !driverform.driverCountry.$pristine}">
										<label>Country</label>
										<div class="row">
											<div class="col-sm-12">
												<select ng-model="driver.country" name="driverCountry"
													class="select_widht_customer" ng-change="onSelectCountry()"
													required>
													<option ng-repeat="c in country" value="{{c}}">{{c}}</option>
												</select>
												<p
													ng-show="driverform.driverCountry.$touched && driverform.driverCountry.$invalid"
													class="help-block error-help">Country is requried</p>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="row">
								<div class="col-sm-4">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverform.driverState.$invalid && !driverform.driverState.$pristine}">
										<label>State</label>
										<div class="row">
											<div class="col-sm-12">
												<select ng-model="driver.state" name="driverState"
													class="select_widht_customer" required>
													<!-- <option selected disabled value="">- - Select State
												- -</option> -->
													<option ng-repeat="s in states" value="{{s}}">{{s}}</option>
												</select>
												<p
													ng-show="driverform.driverState.$touched && driverform.driverState.$invalid"
													class="help-block error-help">State is requried</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverform.driverCity.$invalid && !driverform.driverCity.$pristine}">
										<label> City</label>
										<div class="row">
											<div class="col-sm-12">
												<select ng-model="driver.city" name="driverCity"
													class="select_widht_customer" required>

													<option ng-repeat="c in getCities(driver.state)">{{c.name}}</option>
												</select>
												<p
													ng-show="driverform.driverCity.$error.maxlength && !driverform.driverCity.$pristine"
													class="help-block">Max characters 50</p>
												<p
													ng-show="driverform.driverCity.$touched && driverform.driverCity.$invalid"
													class="help-block error-help">City is required</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverform.driverPincode.$invalid && !driverform.driverPincode.$pristine}">
										<label>Pincode</label> <input type="text" class="form-control"
											name="driverPincode" ng-model="driver.pincode"
											ng-minlength="6" ng-maxlength="6" numbers-only required />
										<p
											ng-show="driverform.driverPincode.$touched && driverform.driverPincode.$invalid"
											class="help-block error-help">Pincode is requried</p>
										<p
											ng-show="driverform.driverPincode.$error.minlength && !driverform.driverPincode.$pristine"
											class="help-block">Min digits 6</p>
										<p
											ng-show="driverform.driverPincode.$error.maxlength && !driverform.driverPincode.$pristine"
											class="help-block">Max digits 6</p>
									</div>
								</div>
							</div>
							<div class="row">
							<div class=col-sm-12>
							<label>Permanent address is same as Present address</label>
								<input type="checkbox" id="confirmAddress" ng-checked="true"
								name="confirmAddress" class="checkwidth" ng-model="driver.confirmAddress"
								ng-click="usePresentAddress(driver.confirmAddress)" />
							
							</div>
							</div>
							


							<div id="permanentAddr">

								<div class="row animate-show" ng-hide="driver.confirmAddress">

									<div class="col-sm-12">
										<label class="DriverFormHeading">Permanent Address</label>

										<div class="row">
											<!-- Driver Street -->
											<div class="col-sm-8">
												<div class="form-group"
													ng-class="{'has-error':driverform.driverpStreet.$invalid && !driverform.driverpStreet.$pristine}">
													<label>Street Name</label> <input type="text"
														class="form-control" name="driverpStreet"
														ng-model="driver.pstreet" ng-maxlength="100"
														ng-required="false" />
													<p
														ng-show="driverform.driverpStreet.$error.maxlength && !driverform.driverpStreet.$pristine"
														class="help-block">Max characters 100</p>
												</div>

											</div>
											<div class="col-sm-4">
												<label>Country</label>
												<div class="row">
													<div class="col-sm-12">
														<select ng-model="driver.pcountry" name="pcountry"
															class="select_widht_customer"
															ng-change="onSelectCountry()" ng-required="false">
															<!-- <option selected disabled value="">- - Select
																	Country - -</option> -->
															<option ng-repeat="c in country" value="{{c}}">{{c}}</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-4">

												<label>State</label>
												<div class="row">
													<div class="col-sm-12">
														<select ng-model="driver.pstate" name="pstate"
															class="select_widht_customer" ng-required="false">

															<option ng-repeat="s in states" value="{{s}}">{{s}}</option>
														</select>
													</div>
												</div>
												<!-- <label ng-show="driver.pstate"
															class="floatlabeltxt show-hide">Enter State</label> <input
															type="text" class="form-control" ng-model="driver.pstate"
															ng-bind="driver.confirmAddress ? driver.state : driver.pstate"
															placeholder="Enter State" /> -->
											</div>
											<div class="col-sm-4">
												<div class="form-group"
													ng-class="{'has-error':driverform.driverpCity.$invalid && !driverform.driverpCity.$pristine}">
													<label> City</label>
													<div class="row">
														<div class="col-sm-12">
															<select ng-model="driver.pcity" name="driverpCity"
																class="select_widht_customer" ng-required="false">

																<option ng-repeat="c in getCities(driver.pstate)">{{c.name}}</option>
															</select>
															<p
																ng-show="driverform.driverpCity.$error.maxlength && !driverform.driverpCity.$pristine"
																class="help-block">Max characters 50</p>
														</div>
													</div>
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group"
													ng-class="{'has-error':driverform.driverpPincode.$invalid && !driverform.driverpPincode.$pristine}">
													<label>Pincode</label> <input type="text"
														class="form-control" ng-model="driver.ppincode"
														name="driverpPincode" ng-minlength="6" ng-maxlength="6"
														numbers-only ng-required="false" />
													<p
														ng-show="driverform.driverpPincode.$error.minlength && !driverform.driverpPincode.$pristine"
														class="help-block">Min digits 6</p>
													<p
														ng-show="driverform.driverpPincode.$error.maxlength && !driverform.driverpPincode.$pristine"
														class="help-block">Max digits 6</p>
												</div>
											</div>


										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button class="btn btn-primary createuser"
					ng-click="submitCreateDriverForm()"
					ng-disabled="driverform.$invalid">Create</button>
			</div>
		</div>
	</div>
</div>

<!-- ./Create Driver Modal -->
<!-- Create Driver Modal -->

<div id="driverUpdateModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					ng-click="reset()">&times;</button>
				<h4 class="modal-title">Update Driver</h4>
			</div>


			<div class="modal-body my_modalBody">
				<form name="driverupdateform" class="form driverformInput">
					<!-- <div class="col-sm-2 col-sm-offset-10" align="right">
						<a class="close" ng-disabled="driverform.$invalid"
							ng-click="reset()" data-dismiss="modal">&times;</a>
					</div>
					<h1 class="titleHead">Create New Driver</h1> -->
					<div class="row">
						<div class="col-sm-12">
							<!-- Driver Info -->

							<label class="DriverFormHeading">Basic Information</label>
							<div class="row">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group requiredfield"
												ng-class="{ 'has-error' : driverupdateform.driverName.$invalid && !driverupdateform.driverName.$pristine }">
												<label> Name</label>
												<!-- ng-show="driver.name"
															class="floatlabeltxt show-hide" -->
												<input type="text" class="form-control" name="driverName"
													ng-model="driver.name" ng-maxlength="25" required /> <input
													type="hidden" ng-model="driver.driver_id" />
												<p
													ng-show="driverupdateform.driverName.$touched && driverupdateform.driverName.$invalid"
													class="help-block error-help">Driver name is required.</p>
												<p
													ng-show="driverupdateform.driverName.$error.maxlength && !driverupdateform.driverName.$pristine"
													class="help-block">Max length 25</p>
											</div>

										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="form-group requiredfield"
												ng-class="{ 'has-error' : driverupdateform.driverContact.$invalid && !driverupdateform.driverContact.$pristine}">
												<label>Contact Number </label>
												<!-- ng-show="driver.contact"
															class="floatlabeltxt show-hide" -->
												<input type="text" class="form-control"
													ng-model="driver.contact" name="driverContact"
													ng-minlength="10" ng-maxlength="10" numbers-only
													ng-blur="verifyContact(driver.driver_id,driver.contact)"
													required="required" />
												<p
													ng-show="driverupdateform.driverContact.$touched && driverupdateform.driverContact.$invalid"
													class="help-block error-help">Driver Contact is
													required.</p>
												<p
													ng-show="driverupdateform.driverContact.$error.minlength && !driverupdateform.driverContact.$pristine"
													class="help-block">Min digits 10</p>
												<p
													ng-show="driverupdateform.driverContact.$error.maxlength && !driverupdateform.driverContact.$pristine"
													class="help-block">Max digits 10</p>
												<p
													ng-show="driverupdateform.driverContact.$error.contAvailable && !driverupdateform.driverContact.$pristine"
													class="help-block">Contact already associated with
													other driver</p>
											</div>
										</div>
									</div>



								</div>
								<div class="col-sm-6">
									<div class="image-upload" style="float: right;">
										<div ng-hide="imagepath" class="hoverImage">
											<i class="fa fa-upload" aria-hidden="true"
												ng-click="triggerInput()"></i>
										</div>
										<div ng-show="imagepath" class="hoverImage">
											<i class="fa fa-refresh" aria-hidden="true"
												ng-click="triggerInput()"></i>
										</div>

										<label for="file-input"> <img
											src="../../images/loading_icon.gif" ng-show="imageUploading"
											class="loading_icon img-responsive img-circle img-thumbnail" />
											<img ng-hide="imageUploading"
											ng-src="{{driver.image_src.length>0?driver.image_src:'../images/driver.png'}}"
											class="img-responsive img-circle img-thumbnail uploadImage" />
										</label>
										<!-- <input id="file-input" type="file"/>  -->
										<input accept="image/*" type="file" name="file"
											id="imageInput"
											onchange="angular.element(this).scope().uploadFile(this.files)" />
										<p ng-show="onlyImage" class="help-block error-help">Only
											image files allowed !...</p>
										<p ng-show="onlyFiletype" class="help-block error-help">Only
											file type ('.jpg','.jpeg','.png')</p>
										<p class="help-block">Only file type
											('.jpg','.jpeg','.png') are allowed</p>
										<p class="help-block" ng-show="imageUploading">Image
											Uplaoding!....</p>
										<!-- {{imageUploading}}thisak	 -->
									</div>
								</div>
							</div>
							<label class="DriverFormHeading">Employement Details</label>
							<div class="row">
								<div class="col-sm-4">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverupdateform.driverlicense.$invalid && !driverupdateform.driverlicense.$pristine}">
										<label> License Number</label>
										<!-- ng-show="driver.license"
															class="floatlabeltxt show-hide" -->
										<input type="text" class="form-control" name="driverlicense"
											ng-model="driver.license" ng-minlength="15" ng-maxlength="15"
											ng-blur="verifyDL(driver.driver_id,driver.license)" required />



										<p
											ng-show="driverupdateform.driverlicense.$touched && driverupdateform.driverlicense.$invalid"
											class="help-block error-help">Driver License is required</p>
										<p
											ng-show="driverupdateform.driverlicense.$error.minlength && !driverupdateform.driverlicense.$pristine"
											class="help-block">Min '15' Alpha Numeric required!...</p>
										<p
											ng-show="driverupdateform.driverlicense.$error.maxlength && !driverupdateform.driverlicense.$pristine"
											class="help-block">Max '15' Alpha Numeric required!...</p>
										<p ng-show="driverform.driverlicense.$error.dlavailable"
											class="help-block error-help">Driver License is already
											associated</p>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group"
										ng-class="{'has-error':driverupdateform.driverAadhaar.$invalid && !driverupdateform.driverAadhaar.$pristine}">
										<label> Aadhaar Number</label> <input type="text"
											class="form-control" name="driverAadhaar" ng-minlength="12"
											ng-maxlength="12" ng-model="driver.aadhar" numbers-only
											ng-required="false" />
										<p
											ng-if="driverupdateform.driverAadhaar.$error.minlength && !driverupdateform.driverAadhaar.$pristine"
											class="help-block">Min 12 charcters</p>
										<p
											ng-if="driverupdateform.driverAadhaar.$error.maxlength && !driverupdateform.driverAadhaar.$pristine"
											class="help-block">Max 12 charcters</p>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverupdateform.driverEmergency.$invalid && !driverupdateform.driverEmergency.$pristine}">
										<label>Emergency Contact number</label> <input type="text"
											class="form-control" name="driverEmergency"
											ng-model="driver.emergency_cn" ng-minlength="10"
											ng-maxlength="10" numbers-only required />
										<p
											ng-show="driverupdateform.driverEmergency.$touched && driverupdateform.driverEmergency.$invalid"
											class="help-block error-help">Emergency Contact is
											required</p>
										<p
											ng-show="driverupdateform.driverEmergency.$error.minlength && !driverupdateform.driverEmergency.$pristine"
											class="help-block">Min digits 10</p>
										<p
											ng-show="driverupdateform.driverEmergency.$error.maxlength && !driverupdateform.driverEmergency.$pristine"
											class="help-block">Max digits 10</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label>Salary</label> <input type="text" class="form-control"
										ng-model="driver.salary" numbers-only ng-required="false" />
								</div>
								<div class="col-sm-6">
									<label class="requiredfield">Employment Type</label>
									<div class="row">
										<!-- Employment Type Choices -->
										<div class="col-sm-12">
											<div class="form-group"
												ng-class="{'has-error':driverupdateform.eType.$invalid && !driverupdateform.eType.$pristine}">
												<label class="radio-inline"> <input type="radio"
													name="eType" class="" value="Permanent"
													ng-model="driver.etype" checked="checked" required />
													Permanent
												</label> <label class="radio-inline"><input type="radio"
													name="eType" class="" value="Temporary"
													ng-model="driver.etype" required />Temporary</label>
												<p
													ng-show="driverupdateform.eType.$touched && driverupdateform.eType.$invalid"
													class="help-block error-help">Employee type is required</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4"></div>
							</div>

							<label class="DriverFormHeading">Personal Information</label>
							<div class="row">
								<div class="col-sm-3" ng-class="{'has-error':minorAge}">
									<label>date of birth</label>
									<div class='input-group date' id='dobPickerUpdate'>
										<input type='text' class="form-control" id="dobOnUpdate"
											ng-model="driver.dob" readonly="readonly" ng-required="false"
											placeholder="DOB" ng-change="validateAge()" /> <span
											id="dobAddon" class="input-group-addon"> <span
											class="glyphicon glyphicon-calendar"> </span>
										</span>
									</div>
									<div ng-if="minorAge" class="help-block">Age of driver is
										minor</div>

								</div>

								<div class="col-sm-4">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverupdateform.driverbloodgp.$invalid && !driverupdateform.driverbloodgp.$pristine}">
										<label>Blood Group</label>
										<!--ng-show="driver.blood"
															class="floatlabeltxt show-hide"  -->
										<div class="row">
											<div class="col-sm-12">
												<select id="driverBlood" ng-model="driver.blood"
													name="driverbloodgp" required>

													<option selected>{{driver.driverbloodgp}}</option>
													<!-- ng-show="editformselect" -->
													<option>a+</option>
													<option>a-</option>
													<option>b+</option>
													<option>b-</option>
													<option>ab+</option>
													<option>ab-</option>
													<option>o+</option>
													<option>o-</option>
													<option>a1b+ve</option>
													<option>a1o+ve</option>
													<option>a1ab+ve</option>
													<option>b1a+ve</option>
													<option>b1ab+ve</option>
													<option>b1o+ve</option>
													<option>ab1a+ve</option>
													<option>ab1b+ve</option>
													<option>ab1o+ve</option>
													<option>o1a+ve</option>
													<option>o1b+ve</option>
													<option>o1ab+ve</option>
													<option>ab1a+ve</option>
													<option>ab1b+ve</option>
													<option>ab1o+ve</option>
													<option>a1b-ve</option>
													<option>a1o-ve</option>
													<option>a1ab-ve</option>
													<option>b1a-ve</option>
													<option>b1ab-ve</option>
													<option>b1o-ve</option>
													<option>ab1a-ve</option>
													<option>ab1b-ve</option>
													<option>ab1o-ve</option>
													<option>o1a-ve</option>
													<option>o1b-ve</option>
													<option>ab1a-ve</option>
													<option>ab1b-ve</option>
													<option>ab1o-ve</option>


													<!-- <option selected value="{{driver.country}}" ng-show>{{driver.country}}</option> -->
													<!-- <option ng-repeat="c in bloodGroups" value="{{c}}">{{c}}</option> -->
												</select>
												<p
													ng-show="driverupdateform.driverbloodgp.$touched && driverupdateform.driverbloodgp.$invalid"
													class="help-block error-help">BloodGroup is requried</p>
											</div>
										</div>

									</div>
								</div>
								<div class="col-sm-5">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverupdateform.driverEducation.$invalid && !driverupdateform.driverEducation.$pristine}">
										<label>Highest Education</label>
										<!--ng-show="driver.education"
											class="floatlabeltxt show-hide"  -->
										<input type="text" class="form-control" name="driverEducation"
											ng-model="driver.education" ng-maxlength="10"
											ng-required="true" />
										<p
											ng-show="driverupdateform.driverEducation.$touched && driverupdateform.driverEducation.$invalid"
											class="help-block error-help">Education is required</p>
										<p
											ng-show="driverupdateform.driverEducation.$error.maxlength && !driverupdateform.driverEducation.$pristine"
											class="help-block">Max characters 10</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-8">
									<label>Languages Known</label>
									<div class="row">
										<div class="col-sm-12 langSection">
											<!-- <select id="langSelect" ng-model="selectedLanguage"
															ng-change="formLanguageArray()"
															class="js-example-basic-multiple form-control" ng-required="false"
															 multiple="multiple"
															>	
															<option ng-repeat="option in lang">{{option}}</option>														
														</select> -->
											<select
												class="js-example-basic-multiple js-example-basic-multiple-limit js-states form-control"
												id="updatelangSelect" multiple="multiple">
												<option ng-repeat="option in lang">{{option}}</option>
											</select>
											<p ng-show="select2-selection-limit">only 5</p>
										</div>
									</div>
								</div>
								<div class="col-sm-4"></div>

							</div>
							<label class="DriverFormHeading">Present Address</label>
							<div class="row">
								<div class="col-sm-8">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverupdateform.driverStreet.$invalid && !driverupdateform.driverStreet.$pristine}">
										<label> Street Name</label> <input type="text"
											class="form-control" name="driverStreet" ng-maxlength="100"
											ng-model="driver.street" required />
										<p
											ng-show="driverupdateform.driverStreet.$touched && driverupdateform.driverStreet.$invalid"
											class="help-block error-help">Street details required</p>
										<p
											ng-show="driverupdateform.driverStreet.$error.maxlength && !driverupdateform.driverStreet.$pristine"
											class="help-block">Max characters 100</p>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverupdateform.driverCountry.$invalid && !driverupdateform.driverCountry.$pristine}">

										<label>Country</label>
										<div class="row">
											<div class="col-sm-12">
												<select ng-model="driver.country" name="driverCountry"
													class="select_widht_customer" required>
													<!-- ng-click="onSelectCountry()" -->
													<option disabled value="">- - Select Country - -</option>
													<option ng-show="editformselect" selected>{{driver.country}}</option>
													<!-- <option ng-repeat="c in country" value="{{c}}">{{c}}</option> -->
												</select>
												<p
													ng-show="driverupdateform.driverCountry.$touched && driverupdateform.driverCountry.$invalid"
													class="help-block error-help">Country is requried</p>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="row">
								<div class="col-sm-4">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverupdateform.driverState.$invalid && !driverupdateform.driverState.$pristine}">
										<label>State</label>
										<div class="row">
											<div class="col-sm-12">
												<select ng-model="driver.state" name="driverState"
													class="select_widht_customer" ng-change="clearcity()"
													required>
													<option disabled value="">- - Select State - -</option>
													<option ng-show="editformselect" selected>{{driver.state}}</option>
													<option ng-repeat="s in statesu">{{s}}</option>
													<!-- {{s == driver.state ? 'selected':''}}  -->
												</select>
												<p
													ng-show="driverupdateform.driverState.$touched && driverupdateform.driverState.$invalid"
													class="help-block error-help">State is requried</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverupdateform.driverCity.$invalid && !driverupdateform.driverCity.$pristine}">
										<label> City</label>
										<div class="row">
											<div class="col-sm-12">
												<select ng-model="driver.city" name="driverCity"
													class="select_widht_customer" required>
													<option disabled value="">-- Select City--</option>
													<option selected>{{driver.city}}</option>
													<option ng-repeat="c in getCities(driver.state)">{{c.name}}</option>
												</select>

												<p
													ng-show="driverupdateform.driverCity.$touched && driverupdateform.driverCity.$invalid"
													class="help-block error-help">City is required</p>
												<p
													ng-show="driverupdateform.driverCity.$error.maxlength && !driverupdateform.driverCity.$pristine"
													class="help-block">Max characters 50</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group requiredfield"
										ng-class="{'has-error':driverupdateform.driverPincode.$invalid && !driverupdateform.driverPincode.$pristine}">
										<label>Pincode</label> <input type="text" class="form-control"
											name="driverPincode" ng-model="driver.pincode"
											ng-maxlength="6" numbers-only required />
										<p
											ng-show="driverupdateform.driverPincode.$touched && driverupdateform.driverPincode.$invalid"
											class="help-block error-help">Pincode is requried</p>
										<p
											ng-show="driverupdateform.driverPincode.$error.maxlength && !driverupdateform.driverPincode.$pristine"
											class="help-block">Max digits 6</p>
									</div>
								</div>
							</div>
							<input type="checkbox" id="confirmAddress" name="confirmAddress"
								ng-model="driver.confirmAddress"
								ng-click="usePresentAddress(driver.confirmAddress)" />
							permanent address is same as present address


							<div id="permanentAddr">

								<div class="row animate-show" ng-hide="driver.confirmAddress">

									<div class="col-sm-12">
										<label class="DriverFormHeading">Permanent Address</label>

										<div class="row">
											<!-- Driver Street -->
											<div class="col-sm-8">
												<div class="form-group"
													ng-class="{'has-error':driverupdateform.driverpStreet.$invalid && !driverupdateform.driverpStreet.$pristine}">
													<label>Street Name</label> <input type="text"
														class="form-control" name="driverpStreet"
														ng-model="driver.pstreet" ng-maxlength="100"
														ng-required="false" />
													<p
														ng-show="driverupdateform.driverpStreet.$error.maxlength && !driverupdateform.driverpStreet.$pristine"
														class="help-block">Max characters 100</p>
												</div>

											</div>
											<div class="col-sm-4">
												<label>Country</label>
												<div class="row">
													<div class="col-sm-12">
														<select ng-model="driver.pcountry" name="pcountry"
															class="select_widht_customer" ng-required="false">
															<!-- ng-change="onSelectCountry()" -->

															<option ng-show="editformselect" selected>{{driver.pcountry}}</option>
															<!-- <option ng-repeat="c in country" value="{{c}}">{{c}}</option> -->
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-4">

												<label>State</label>
												<div class="row">
													<div class="col-sm-12">
														<select ng-model="driver.pstate" name="pstate"
															ng-change="clearpcity()" class="select_widht_customer"
															ng-required="false">
															<option selected disabled value="">- - Select
																State - -</option>
															<option ng-show="editformselect" selected>{{driver.pstate}}</option>
															<option ng-repeat="s in statesu" value="{{s}}">{{s}}</option>
														</select>
													</div>
												</div>
												<!-- <label ng-show="driver.pstate"
															class="floatlabeltxt show-hide">Enter State</label> <input
															type="text" class="form-control" ng-model="driver.pstate"
															ng-bind="driver.confirmAddress ? driver.state : driver.pstate"
															placeholder="Enter State" /> -->
											</div>
											<div class="col-sm-4">
												<div class="form-group"
													ng-class="{'has-error':driverupdateform.driverpCity.$invalid && !driverupdateform.driverpCity.$pristine}">
													<label> City</label>
													<div class="row">
														<div class="col-sm-12">
															<select ng-model="driver.pcity" name="driverpCity"
																class="select_widht_customer" ng-required="false">
																<option disabled value="">-- Select City--</option>
																<option selected>{{driver.pcity}}</option>
																<option ng-repeat="c in getCities(driver.pstate)">{{c.name}}</option>
															</select>

															<p
																ng-show="driverupdateform.driverpCity.$error.maxlength && !driverupdateform.driverpCity.$pristine"
																class="help-block">Max characters 50</p>
														</div>
													</div>
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group"
													ng-class="{'has-error':driverupdateform.driverpPincode.$invalid && !driverupdateform.driverpPincode.$pristine}">
													<label>Pincode</label> <input type="text"
														class="form-control" name="driverpPincode"
														ng-maxlength="6" ng-minlength="6"
														ng-model="driver.ppincode" placeholder="Enter Pincode"
														numbers-only ng-required="false" />
													<p
														ng-show="driverupdateform.driverpPincode.$error.minlength && !driverupdateform.driverpPincode.$pristine"
														class="help-block">Min digits 6</p>
													<p
														ng-show="driverupdateform.driverpPincode.$error.maxlength && !driverupdateform.driverpPincode.$pristine"
														class="help-block">Max digits 6</p>
												</div>
											</div>


										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button class="btn btn-primary createuser"
					ng-click="submitUpdateDriverForm()"
					ng-disabled="driverupdateform.$invalid">Update</button>
			</div>
		</div>
	</div>
</div>

<!-- ./Update Driver Modal -->