<div class="col-sm-10" ng-init="tripList();grouplist()">
	<h2 class="heading_title">Travel Desk</h2>
	<div class="row">
		<div class="col-sm-12">
			<h4 class="search_heading">Trip List</h4>
		</div>
	</div>
	<div class="search_customer_results">
		<div class="row">
			<div class="col-sm-12">
				<!-- search driver -->
				<div class="row makeMB20">
					<div class="col-sm-12">
						<h3>
							Search Trip<span class="help-txt">(based on phone or name)</span>
						</h3>
						<input type="text" class="form-control" ng-model="searchTrip"
							placeholder="Search by name or phone number" />
					</div>
				</div>
				<!-- ./search driver -->
				<div class="row triplist_head">
					<div class="col-sm-2">
						<label>Trip-id</label>

					</div>
					<div class="col-sm-2">
						<label>Vehicle No</label>

					</div>
					<div class="col-sm-2">
						<label>Driver Name</label>

					</div>
					<div class="col-sm-2">
						<label>Driver Contact</label>

					</div>
					<!-- <div class="col-sm-2">
						<label>Driver Image</label>
					</div>
					<div class="col-sm-2">
						<label>Edit</label>					
						<label>Delete</label>
					</div> -->

				</div>

				<!-- listing trip -->
				<div class="row">
					<div class="col-sm-12" id="displayList">
						<ul id="accordion" class="driverlist">

							<li
								ng-repeat="tripdetail in triplistObject |tripFilter:searchTrip">
								<div class="panel panel-default">
									<div class="panel-heading">
										<div class="row">

											<!-- Trip ID -->
											<div class="col-sm-2">
												<p>{{tripdetail.trip_id}}</p>
												<!-- <p>{{driverdetail.name}}</p> -->
											</div>
											<!-- Trip ID -->
											<!-- Vehicle no -->
											<div class="col-sm-2">
												<p>{{tripdetail.vehicle_num}}</p>
											</div>
											<!-- Vehicle No -->
											<!-- Driver Name -->
											<div class="col-sm-2">
												<p>{{tripdetail.driver_name}}</p>
											</div>
											<!-- Driver Name -->
											<!-- Driver Contact -->
											<div class="col-sm-2">
												<p>{{tripdetail.contact_no}}</p>
											</div>
											<!-- Driver Contact -->

											<!-- image of driver/avatar -->
											<div class="col-sm-1">
												<img
													src="{{tripdetail.image_src.length>0?tripdetail.image_src:'../images/driver.png'}}"
													class="img-responsive img-circle img-thumbnail iconImageSm"
													/
													onerror="this.onerror=null;this.src='../images/driver.png';">
											</div>
											<!-- ./image of driver/avatar -->

											<!-- Driver Edit -->
											<div class="col-sm-3">
												<p class="alignIcons">
													<!-- ng-click="fetchdriverInfo(driverdetail.driver_id)" -->
													<a href="#" class="edit_icon" data-toggle="modal"
														ng-click="fetchTripInfo(tripdetail.trip_id);initUpdateMap()"
														data-target="#updateTripModal"><i class="fa fa-pencil"></i></a>
													<a href="#" class="delete_icon"
														ng-click="cancelTrip(tripdetail.trip_id)"><i
														class="fa fa-times"></i></a>
													<!-- <a class="btn btn-primary" data-toggle="collapse" href="#{{dynamic}}Collapse" aria-expanded="false" aria-controls="{{dynamic}}Collapse">  
													Link with href  
													</a>
													<div class="collapse" id="{{dynamic}}Collapse"></div> -->
													<a class="accordion-toggle" data-toggle="collapse"
														data-parent="#accordion1"
														data-target="#{{tripdetail.trip_id}}"></a>
												</p>

											</div>
											<!-- Driver Delete -->
										</div>
									</div>
									<div id="{{tripdetail.trip_id}}" class="collapse panel-body">
										<div class="row">
											<div class="col-sm-2">

												<img
													src="{{tripdetail.image_src.length>0?tripdetail.image_src:'../images/driver.png'}}"
													class="img-responsive img-thumbnail fixWidthHeight"
													onerror="this.onerror=null;this.src='../images/driver.png';">
											</div>
											<div class="col-sm-10">
												<div class="row mb10">
													<div class="col-sm-3">
														<label>Driver Id</label>
														<p class="mb10">{{tripdetail.driver_id}}</p>
													</div>
													<div class="col-sm-3">
														<label>Driver Contact</label>
														<p class="mb10">{{tripdetail.contact_no}}</p>
													</div>
													<div class="col-sm-3">
														<label>Organization Id</label>
														<p class="mb10">{{tripdetail.org_id}}</p>
													</div>
													<div class="col-sm-3">
														<label>Customer Count: </label>
														<p class="mb10 count_label">
															<span>{{tripdetail.customers_count}}</span>
														</p>
													</div>
												</div>
											</div>
										</div>
										<hr>
										<label class="mb10">Trip Detail</label>
										<div class="row">
											<div class="col-sm-6">
												<div class="row">
													<div class="col-sm-6">
														<label>Start Time</label>
														<p class="mb10">{{getTimeFormat(tripdetail.apprx_start_time)}}</p>
													</div>
													<div class="col-sm-6">
														<label>End Time</label>
														<p class="mb10">{{getTimeFormat(tripdetail.apprx_end_time)}}</p>
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="row">
													<div class="col-sm-6">
														<label>Start Point Address</label>
														<p class="mb10">
															Crowne Plaza Bengaluru Electronics City
															<!-- <reverse-geocode lat="{{tripdetail.start_point.lat}}"
														lng="{{tripdetail.start_point.long}}" /> -->
														</p>
													</div>
													<div class="col-sm-6">
														<label>End Point Address</label>
														<p class="mb10">
															Crowne Plaza Bengaluru Electronics City
															<!-- <reverse-geocode lat="{{tripdetail.end_point.lat}}"
														lng="{{tripdetail.end_point.long}}" /> -->
														</p>
													</div>
												</div>
											</div>
										</div>
										<div class="row mb10">
											<div class="col-sm-12">
												<label>Customer Detail</label>
												<ul>
													<li><div class="row">
															<div class="col-sm-6">
																<label>Name</label>
															</div>
															<div class="col-sm-6">
																<label>Contact No</label>
															</div>
														</div></li>
													<li ng-repeat="cname in tripdetail.customers">
														<div class="row">
															<div class="col-sm-6">
																<p>{{cname.name}}</p>
															</div>
															<div class="col-sm-6">
																<p>{{cname.cn}}</p>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<br>
										<div class="row mb10">
											<div class="col-sm-12" align="center">
												<button class="btn btn-primary" ng-click="initTriplistMap(tripdetail)">Show Route Map</button>
												<div id="triplist_map{{tripdetail.trip_id}}" class="mb10" style="width: 100%; height: 200px;"></div>
											</div>
										</div>
										<br>
									</div>
								</div>
							</li>

						</ul>
						<!-- <p ng-show="(driverlist| driverFilter:searchDriver).length==0" class="help-block error-help">No drivers available for this search criteria !!!</p>
						<p ng-show="!driverlist.length" class="help-warning">No driver created yet</p> -->
					</div>
				</div>
				<!-- ./listing driver -->
			</div>
		</div>
		<a href="#" class="btn btn-primary add_new_trip " data-toggle="modal"
			data-target="#createTripModal" ng-click="initMap();"> <i
			class="fa fa-plus fa-3x"></i></a>

	</div>
</div>


<!-- Create trip modal -->
<div id="createTripModal" class="modal fade" role="dialog"
	data-backdrop="static">
	<div class="modal-dialog modal-lg tdmodal">
		<div class="modal-content">
			<div class="iconSection" align="center">
				<div class="userIcon">
					<i class="fa fa-taxi fa-2x"></i>
				</div>
			</div>
			<div class="modal-body">
				<form id="createTripf" name="createTripForm" class="form formInput">
					<div id="createclose" class="col-sm-2 col-sm-offset-10"
						align="right">
						<span class="closeIcon" ng-click="reset()" data-direction="left"
							data-dismiss="modal" aria-hidden="true">&times;</span>
					</div>
					<h1 class="titleHead">Create Trip</h1>
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class='col-sm-6'>
									<div class="form-group">
										<div class='input-group date'>
											<input type='text' id='startTimePicker'
												ng-model="trip_create.stime"
												class="form-control tripinputheight"
												placeholder="Start Time" />{{createTripForm.stime}} <span
												class="input-group-addon createtriptime"> <span
												class="glyphicon glyphicon-time"></span>
											</span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="input-group date">
										<input type='text' id='endTimePicker'
											ng-model="trip_create.etime"
											class="form-control tripinputheight" placeholder="End Time" />
										<span class="input-group-addon createtriptime"> <span
											class="glyphicon glyphicon-time"></span>
										</span>
									</div>
									<!-- <div class="input-group">
									    <input type="text" id="datetimepicker" class="form-control" name="date">
									    <label class="input-group-addon btn" for="date">
									       <span class="fa fa-calendar open-datetimepicker"></span>
									    </label>
									</div> -->
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<select
											class="form-control floatlabel floatlabel_select tripinputheight"
											ng-model="groupname" ng-change="fetchDevicelist(groupname)">
											<option selected disabled value="">- - Group Name -
												-</option>
											<option ng-repeat="group in grouplist"
												value="{{ group.gid }}">{{group.gname}}</option>
										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<select
											class="form-control floatlabel floatlabel_select tripinputheight"
											ng-model="trip_create.devid">
											<option selected disabled value="">- - Vehicle No -
												-</option>
											<option ng-repeat="vehicle in devlistObject"
												value="{{ vehicle.devid }}">{{vehicle.vehicle_num.length>0?vehicle.vehicle_num:vehicle.devid}}</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<!-- <label class="floatlabeltxt show-hide">Enter Statr Point</label> -->
										<input type="text" id="startpointId"
											ng-model="trip_create.spoint"
											class="form-control tripinputheight"
											placeholder="Start Point" readonly="readonly" />
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<!-- <label class="floatlabeltxt show-hide">Enter End Point</label> -->
										<input type="text" id="endpointId"
											ng-model="trip_create.epoint"
											class="form-control tripinputheight" placeholder="End Point"
											readonly="readonly" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div id="map" style="width: 100%; height: 200px;"></div>
							<a class="traffic_layer_btn" ng-click="undoMap()">Clear Map</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<!-- <label class="floatlabeltxt show-hide">Select Destionation</label> -->
										<input id="destinationSelected" type="text"
											ng-model="trip_create.dest"
											class="form-control tripinputheight"
											placeholder="Destination" /> {{createTripForm.dest}}
									</div>
								</div>
								<div class="col-sm-6">
									<div class="col-sm-6 col-sm-offset-6">
										<a href="" class="addfields" ng-hide="hide_btn"
											ng-click="addNewCustomer()">Add Customer</a>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12"
									data-ng-repeat="trip_create in trip_create.customers">
									<div class="panel panel-default">
										<div class="panel-heading dynamicBlockHeading">
											<h3 class="panel-title">
												Customer {{$index+1}} <span class="pull-right clickable"
													data-effect="fadeOut" ng-click="removeCustomer($index)"><i
													class="fa fa-times"></i></span>
											</h3>
											<!-- Watch Out: Here We must use the effect name in the data tag-->

										</div>
										<div class="panel-body dynamicBlockBody">
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group multiple_contact"
														ng-class="{'has-error':createTripForm.contact_name{{$index+1}}.$invalid && !createTripForm.contact_name{{$index+1}}.$pristine}">
														<label ng-show="createTripForm.contact_name"
															class="floatlabeltxt show-hide">Customer Name</label>
														<div class="row">
															<div class="col-sm-12">
																<input type="text" ng-model="trip_create.name"
																	name="contact_name{{$index+1}}"
																	id="contact_name{{$index+1}}" class="dynamicBlockInput"
																	placeholder="Customer Name" ng-minlength="2"
																	ng-maxlength="70" required />
																<p
																	ng-show="createTripForm.contact_name{{$index+1}}.$error.maxlength"
																	class="help-block dynamicBlockHelp">Name field of
																	max of 70 characters only allowed.</p>
																<p
																	ng-show="createTripForm.contact_name{{$index+1}}.$error.minlength"
																	class="help-block  dynamicBlockHelp">Name field of
																	min of 2 character needed.</p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group multiple_contact"
														ng-class="{ 'has-error' : createTripForm.contact_num{{$index+1}}.$invalid && !createTripForm.contact_num{{$index+1}}.$pristine}">
														<label ng-show="createTripForm.contact_num"
															class="floatlabeltxt show-hide">Mobile Number</label>
														<div class="row">
															<div class="col-sm-12">
																<input type="text" ng-model="trip_create.cn"
																	class="dynamicBlockInput" numbers-only
																	name="contact_num{{$index+1}}" class="form-control"
																	string-to-number placeholder="Mobile Number"
																	ng-minlength="10" ng-maxlength="10" required />
															</div>
														</div>
														<p
															ng-show="createTripForm.contact_num{{$index+1}}.$invalid && !createTripForm.contact_num{{$index+1}}.$pristine"
															class="help-block dynamicBlockHelp">Enter Valid
															Mobile Number.</p>
														<p
															ng-show="createTripForm.contact_num{{$index+1}}.$error.minlength && createTripForm.contact_num{{$index+1}}.$error.maxlength"
															class="help-block dynamicBlockHelp">Mobile Number max
															10 numbers.</p>
														<!-- <span class="help-block">{{mobstatus}}</span> -->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 txtCenter">
							<button class="btn btn-primary btn-lg" ng-click="createTrip()">Create</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>

<!-- End Create Trip Modal -->

<!-- Start Update Trip Modal -->

<div id="updateTripModal" class="modal fade" role="dialog"
	data-backdrop="static">
	<div class="modal-dialog modal-lg tdmodal">
		<div class="modal-content">
			<div class="iconSection" align="center">
				<div class="userIcon">
					<i class="fa fa-taxi fa-2x"></i>
				</div>
			</div>
			<div class="modal-body">
				<form id="updateTripf" name="updateTripForm" class="form formInput">
					<div id="createclose" class="col-sm-2 col-sm-offset-10"
						align="right">
						<span class="closeIcon" data-direction="left" data-dismiss="modal"
							aria-hidden="true">&times;</span>
					</div>
					<h1 class="titleHead">Update Trip</h1>
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class='col-sm-6'>
									<div class="form-group">
										<div class='input-group date' id='startTimePickerU'>
											<input type='text' ng-model="updateTrip.stime"
												id="updateStartTime" class="form-control tripinputheight"
												placeholder="Start Time" /> <span id="updateTimeIcon"
												class="input-group-addon createtriptime"> <span
												class="glyphicon glyphicon-time"></span>
											</span>
										</div>
										<!-- <div class='input-group date' id='datetimepicker3'>
											<input type='text' class="form-control" /> <span
												class="input-group-addon"> <span
												class="glyphicon glyphicon-time"></span>
											</span>
										</div> -->
									</div>
								</div>
								<div class="col-sm-6">
									<div class="input-group date" id='endTimePickerU'>
										<input type='text' ng-model="updateTrip.etime"
											class="form-control tripinputheight" placeholder="End Time" />
										<span class="input-group-addon createtriptime"> <span
											class="glyphicon glyphicon-time"></span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<select
											class="form-control floatlabel floatlabel_select tripinputheight"
											ng-model="updateTrip.gname"
											ng-change="fetchDevicelist(updateTrip.gname)">
											<option selected disabled value="">- - Group Name -
												-</option>
											<option selected value="{{updateTrip.gname}}" ng-show>{{updateTrip.gname}}</option>
											<option ng-repeat="group in grouplist"
												value="{{ group.gid }}">{{group.gname}}</option>
										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<select
											class="form-control floatlabel floatlabel_select tripinputheight"
											ng-model="updateTrip.vno">
											<option selected disabled value="">- - Vehicle No -
												-</option>
											<option selected value="{{updateTrip.vno}}" ng-show>{{updateTrip.vno}}</option>
											<option ng-repeat="vehicle in devlistObject"
												value="{{ vehicle.devid }}">{{vehicle.vehicle_num.length>0?vehicle.vehicle_num:vehicle.devid}}</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="floatlabeltxt show-hide">Start Point</label> <input
											type="text" ng-model="updateTrip.spoint"
											class="form-control tripinputheight"
											placeholder="Start Point" readonly="readonly" />
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="floatlabeltxt show-hide">End Point</label> <input
											type="text" ng-model="updateTrip.epoint"
											class="form-control tripinputheight" placeholder="End Point"
											readonly="readonly" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label class="floatlabeltxt show-hide">Destination</label> <input
									type="text" ng-model="updateTrip.dest"
									class="form-control tripinputheight" placeholder="Destination" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div id="updateMap" style="width: 100%; height: 200px"></div>
							<a class="traffic_layer_btn" ng-click="undoMap()">Clear Map</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-6"></div>
								<div class="col-sm-6">
									<div class="col-sm-6 col-sm-offset-6">
										<a href="" class="addfields" ng-hide="hide_btn"
											ng-click="addNewChoice()">Add Customer</a>
									</div>
									<!-- <div class="form-group" align="center">
									<a class="btn btn-primary addcbtn" id="showAddCustU">Add Customer</a>
								</div> -->
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12"
							data-ng-repeat="updateTrip in updateTrip.Customers">
							<div class="panel panel-default">
								<div class="panel-heading dynamicBlockHeading">
									<h3 class="panel-title">
										Customer {{$index+1}} <span class="pull-right clickable"
											data-effect="fadeOut" ng-click="removeChoice($index)"><i
											class="fa fa-times"></i></span>
									</h3>
									<!-- Watch Out: Here We must use the effect name in the data tag-->

								</div>
								<div class="panel-body dynamicBlockBody">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group multiple_contact"
												ng-class="{'has-error':choices.name{{$index+1}}.$invalid && !customer.name{{$index+1}}.$pristine}">
												<label ng-show="customer.name"
													class="floatlabeltxt show-hide">Customer Name</label>
												<div class="row">
													<div class="col-sm-12">
														<input type="text" ng-model="updateTrip.name"
															name="contact_name{{$index+1}}" class="dynamicBlockInput"
															placeholder="Customer Name" ng-minlength="2"
															ng-maxlength="70" required />
														<p ng-show="customer.name{{$index+1}}.$error.maxlength"
															class="help-block dynamicBlockHelp">Name field of max
															of 70 characters only allowed.</p>
														<p ng-show="customer.name{{$index+1}}.$error.minlength"
															class="help-block  dynamicBlockHelp">Name field of
															min of 2 character needed.</p>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group multiple_contact"
												ng-class="{ 'has-error' : customer.cn{{$index+1}}.$invalid && !customer.cn{{$index+1}}.$pristine}">
												<label ng-show="customer.cn" class="floatlabeltxt show-hide">Mobile
													Number</label>
												<div class="row">
													<div class="col-sm-12">
														<input type="text" ng-model="updateTrip.cn"
															class="dynamicBlockInput" numbers-only
															name="contact_num{{$index+1}}" class="form-control"
															string-to-number placeholder="Mobile Number"
															ng-minlength="10" ng-maxlength="10" required />
													</div>
												</div>
												<p
													ng-show="customer.cn{{$index+1}}.$invalid && !customer.cn{{$index+1}}.$pristine"
													class="help-block dynamicBlockHelp">Enter Valid Mobile
													Number.</p>
												<p
													ng-show="customer.cn{{$index+1}}.$error.minlength && customer.cn{{$index+1}}.$error.maxlength"
													class="help-block dynamicBlockHelp">Mobile Number max
													10 numbers.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 txtCenter">
							<button class="btn btn-primary btn-lg"
								ng-click="postUpdateTrip()">Update Trip</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>
<!-- End of Update Trip Modal -->