.header{
	height: 70px;
    width: 100%;
    border-radius: 0;
    background: #000000;
    z-index: 100;
    position: fixed;
}

.logo{	
	height: 50px;
    width: 150px;
    position: absolute;
    top: 12px;
    right: 130px;
}

.login{
	color: #fff;
    font-size: 20px;
    float: right;
    top: 12px;
    right: -80px;
    border: none !important;
}

.loginModal{
    z-index: 2;
    opacity: 1;
    background: #FFF;
    padding-top: 100px;
}