<div class="col-sm-12">
	<div class="bgloading" ng-show="httpLoading">
		<div class="bigbar">
			<h1 class="titleClass">loading!...</h1>
		</div>
	</div>
	<!-- Header For Nearby devices -->
	<div class="row header_bats">
		<div class="col-sm-10">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-12">
							<label class="custom_label">Search Vehicle</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3" id="clearTextGroup">
							<select id="selectGroup" class="form-control" name="groupList"
								ng-model="hist.searchGroupModel"
								ng-change="fetchDevicelist(hist.searchGroupModel)">
								<option ng-if="groupList.length" value="" selected disabled
									class="disable_select">-- Select Group - -</option>
								<option ng-if="!groupList.length" selected disabled>No
									Group Available</option>
								<option ng-repeat="option in groupList" value="{{ option.gid }}">{{option.gname}}</option>
							</select>
						</div>
						<div class="col-sm-4" id="clearTextDevice">
							<select id="selectDevice" class="form-control" name="deviceList"
								ng-model="hist.searchDeviceModel"
								ng-change="deviceSelected(hist.searchDeviceModel)">
								<option></option>
								<option ng-if="groupDevice.length" value="" selected disabled
									class="disable_select">-- Select Vehicle No/Device --</option>
								<option ng-if="!groupDevice.length" selected disabled>No
									Device Available</option>
								<option ng-repeat="option in groupDevice"
									value="{{ option.devid }}">{{option.vehicle_num.length>0?option.vehicle_num:option.devid}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2 borderLeft">
			<div ng-include src="'/general/subMenu'"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 pad0">
			<div ng-hide="noData" class="mtop10">
				<h1>Kindly Check For other Dates</h1>
			</div>

			<div class="row" ng-hide="noNearbyDevice">
				<div class="col-sm-12 verhorcenter" align="center">
					<div class="centerData">
						<ul class="nodata_list">
							<li><img alt="" src="../images/no-data.png"
								class="nodata_img"></li>
							<li><label style="color: #000">Nothing here!</label></li>
							<li><span>No Data Available</span></li>
						</ul>
					</div>
				</div>
			</div>

			<div ng-if="yoData">
				<div data-tap-disabled="true">
					<ng-map id="nearbyId" zoom="{{nearByMap.zoom}}"
						center="{{nearByMap.center}}" ng-style="mapHeight"> <!--
				styles="[{'featureType':'administrative','elementType':'labels.text.fill','stylers':[{'color':'#444444'}]},
								{'featureType':'landscape','elementType':'all','stylers':[{'color':'#f2f2f2'}]},
								{'featureType':'landscape','elementType':'labels','stylers':[{'visibility':'on'}]},
								{'featureType':'poi','elementType':'all','stylers':[{'visibility':'off'}]},
								{'featureType':'poi','elementType':'geometry.fill','stylers':[{'color':'#bee4f4'},{'visibility':'on'}]},
								{'featureType':'poi','elementType':'labels','stylers':[{'visibility':'on'},{'hue':'#ff0000'}]},
								{'featureType':'road','elementType':'all','stylers':[{'saturation':-100},{'lightness':45}]},
								{'featureType':'road','elementType':'labels','stylers':[{'visibility':'on'},{'hue':'#ff0000'}]},
								{'featureType':'road.highway','elementType':'all','stylers':[{'visibility':'simplified'}]},
								{'featureType':'road.arterial','elementType':'labels.icon','stylers':[{'visibility':'off'}]},
								{'featureType':'transit','elementType':'all','stylers':[{'visibility':'off'}]},
								{'featureType':'transit','elementType':'geometry.fill','stylers':[{'visibility':'on'}]},
								{'featureType':'transit','elementType':'labels','stylers':[{'visibility':'on'},{'hue':'#ff0000'}]},
								{'featureType':'water','elementType':'all','stylers':[{'color':'#46bcec'},{'visibility':'on'}]},
								{'featureType':'water','elementType':'labels','stylers':[{'visibility':'on'},{'color':'#000000'}]}]" 
				 --> <marker ng-repeat="pos in nearByMap.devices"
						position="[{{pos.lat}},{{pos.lg}}]" title="DeviceID:{{pos.devid}}"
						icon="{url:'../images/{{pos.icon}}.png',
												   scaledSize:[20,20],
												   origin: [2,2],
												   anchor: [16,16]}"
						on-click="showInfo(event,pos)"> </marker> </ng-map>
				</div>
			</div>

			<div class="space_bottom"></div>
		</div>
	</div>
	<div class="row" ng-if="blankTable">
		<div class="col-sm-12 verhorcenter" align="center">
			<div class="centerData" style="margin-top: 100px;">
				<ul class="nodata_list">
					<li><img alt="" src="../images/select-dropdown.png"
						class="nodata_img"></li>
					<li><label style="color: #000; margin-left: 35px">
							Select Vehicle!</label></li>
					<li><span>Shows nearby vehicle with location</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>


